<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../css/main/dreamguide.css">
</head>
<body>
<nav class="navbar navbar-custom navbar-fixed-top top-nav-collapse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse"><i
                    class="fa fa-bars"></i></button>
            <a class="navbar-brand page-scroll" href="../index.html"><i class="fa fa-university"></i><span
                    class="light"> Start</span> Your Dream
            </a></div>
    </div>
</nav>

</body>
</html>