<div class="intro" id="index" ng-controller="HomeViewController">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <section class="sliding-text-wrapper">
                        <div class="stationary-text-top">在这里你会获得</div>
                        <div class="sliding-text">
                            <span> 一流水准的顾问和导师团队</span>
                            <span> 与前辈们即时交流的机会</span>
                            <span> 价位合理的定制服务</span>
                            <span> 百所海外名校的录取“内幕”</span>
                        </div>
                        <div class="row row-gap-huge"></div>
                        <br />
                        <br />
                        <div class="stationary-text-bottom"><a href="#login">加入DreamGuide</a></div>
                    </section>
                </div>
                <!--<form class="form-signin">-->
                <!--<p class="form-signin-heading">登陆Dream Guide账户</p>-->
                <!--<label for="inputEmail" class="sr-only">登陆邮箱</label>-->
                <!--<input type="email" id="inputEmail" class="form-control" placeholder="登陆邮箱" required autofocus>-->
                <!--<label for="inputPassword" class="sr-only">输入密码</label>-->
                <!--<input type="password" id="inputPassword" class="form-control" placeholder="登录密码" required>-->
                <!--<div class="checkbox">-->
                <!--<label>-->
                <!--<input type="checkbox" value="remember-me"> 记住账号-->
                <!--</label>-->
                <!--</div>-->
                <!--<div class="btn-group" role="group">-->
                <!--<button type="button" class="btn btn-default">登陆</button>-->
                <!--</div>-->
                <!--<div class="btn-group" role="group">-->
                <!--<button type="button" class="btn btn-default">注册</button>-->
                <!--</div>-->
                <!--<div class="btn-group" role="group">-->
                <!--<button type="button" class="btn btn-default">找回密码</button>-->
                <!--</div>-->
                <!--</form>-->
            </div>
        </div>
    </div>
</div>

<div id="content" class="content-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="col-sm-12">
                    <p></p>
                    <br>
                    <h2>Dream Guide 特色</h2>

                    <p>他们来自于世界顶级名校，他们的专业横跨理工，文商，艺术。
                        他们曾经和你一样，经历了TOFEL、GRE、选校、文书，走过了你正在走的路。
                        他们来自于世界500强名企，他们涉足金融，政府，传播，IT，制造，快销等主流行业。
                        他们拥有你即将要面临的脱颖而出，自主创业，夹缝求生的人生历练！</p>

                    <h3>一对一平台, 会成为你实现梦想的导师。</h3>
                </div>
            </div>
            <div class="col-sm-6">
                <br/>
                <div id="map1">
                </div>
                <br/>
            </div>
        </div>
    </div>
</div>

<div class="one2one-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>如何使用Dream Guide一对一平台</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-sm-4">
                <img class="icon-large" alt="calendar and clock" title="calendar and clock" src="image/svg/one2one_1.svg">
                <br>
                注册账户，浏览并选择导师，提交数个你可以与导师交流的时间表。
            </div>
            <div class="col-sm-4">
                <img class="icon-large" alt="communication" title="communication" src="image/svg/one2one_2.svg">
                <br>
                通过站内服务，留言联系，双方确认时间。
            </div>
            <div class="col-sm-4">
                <img class="icon-large" alt="laptop" title="laptop" src="image/svg/one2one_3.svg">
                <br>
                使用Skype, wechat等工具完成一对一指导。
            </div>
        </div>
        <div class="row row-gap-medium">
            <div class="col-xs-12 text-center">
                <a href="#one2one">查看更多关于一对一平台的详情。</a>
            </div>
        </div>
    </div>
</div>