<div class="content-section" id="index" ng-controller="One2OneController">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12" >
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-sm-2">
                            地区过滤器：
                        </div>
                        <div class="col-sm-2">
                            <a>美国</a>
                        </div>
                        <div class="col-sm-2">
                            <a>英国</a>
                        </div>
                        <div class="col-sm-2">
                            <a>澳洲</a>
                        </div>
                        <div class="col-sm-2">
                            <a>加拿大</a>
                        </div>
                        <div class="col-sm-2">
                            <a>显示全部</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-lg-12 col-sm-12 col-xs-12" >
                                    <div>
                                        <b>热门专业：</b>
                                    </div>
                                    <div>
                                        商科: <a>金融</a>, <a>MBA</a>, <a>会计</a>, <a>经济</a>
                                    </div>
                                    <div>
                                        工程: <a>计算机工程</a>, <a>电子工程</a>, <a>机械工程</a>
                                    </div>
                                    <div>
                                        理学: <a>物理</a>, <a>化学</a>, <a>统计</a>, <a>应用数学</a>
                                    </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">

                    <div class="panel-body">
                        选择想要学习的领域
                    <ui-select multiple  ng-model="filters.fields">
                        <ui-select-match placeholder="选择专业领域...">{{$item}}</ui-select-match>
                        <ui-select-choices repeat="major in availableFields">
                            {{major}}
                        </ui-select-choices>
                    </ui-select>
                    <hr>
                    选择想要了解的学校
                    <ui-select multiple ng-model="filters.schools">
                        <ui-select-match placeholder="选择学校...">{{$item}}</ui-select-match>
                        <ui-select-choices repeat="school in availableSchools">
                            {{school}}
                        </ui-select-choices>
                    </ui-select>
                    </div>


                </div>
            </div>
            <div class="col-sm-8">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div ng-repeat="person in model.tutors">
                            <div class="col-sm-3 col-md-3">
                                <div class="thumbnail" style="height:340px">
                                    <img ng-src={{person.image}} alt="" height="180px" width="180px">
                                    <div class="caption">
                                        <b>{{person.name}}</b>
                                        <br />
                                        <br />

                                        {{person.school}}
                                        <br />
                                        <br />

                                        {{person.major}}
                                        <!--{{person.country}}-->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>