<div class="content-section" id="index" ng-controller="One2OneController">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">预约导师</h3>
        </div>

        <div class="modal-body">
            <div class="row" style="padding-left:15px; padding-bottom: 15px; padding-right: 15px;border-bottom: 1px solid #e5e5e5;">
                <h5>{{selected.tutor.name}}导师的信息</h5>
                <div class="row col-sm-12 col-xs-12">
                    名字: {{selected.tutor.name}}
                </div>
                <div class="row col-sm-12 col-xs-12">
                    本科信息: {{selected.tutor._source.underSchool}}  {{selected.tutor._source.underMajor}}  {{selected.tutor._source.underDegree}}
                </div>
                <div class="row col-sm-12 col-xs-12">
                    留学背景: {{selected.tutor._source.gradSchool}} ,  {{selected.tutor._source.gradMajor}},  {{selected.tutor._source.degree}}
                </div>
                <div class="row col-sm-12 col-xs-12">
                    咨询费用: 60元人民币/30分钟
                </div>
            </div>
            <div class="row" style="padding-top:15px;">
                <div class="col-sm-8 col-xs-8">
                    <div>
                        <!--<div data-ng-class="{'has-error': contactInfoErrors.setsEmail}">-->
                        <label>手机号</label>
                        <div style="clear:both"></div>
                        <input class="form-control pull-left" placeholder="输入手机号" data-ng-model="appointment.account">
                        <!--ng-pristine ng-valid ng-valid-email-->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-xs-8">
                    <!--<div data-ng-class="{'has-error': contactInfoErrors.setsPassword}">-->
                    <div>
                        <label for="password">密码</label>
                        <div style="clear:both"></div>
                        <input type="password" class="form-control pull-left ng-pristine ng-valid" id="password" placeholder="密码" data-ng-model="appointment.password">
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top:15px;">
                <div class="col-sm-8 col-xs-8">
                    <div>
                        <label>名字</label>
                        <div style="clear:both"></div>
                        <input class="form-control pull-left" placeholder="输入昵称" data-ng-model="appointment.name">
                    </div>
                </div>
            </div>
            <div class="row" >
                <br />
            </div>
            <!--<div class="row">-->
                    <!--<div class="col-sm-12 col-xs-12">-->
                        <!--预约时间:</div>-->
                    <!--<div class="col-sm-3 col-xs-3">-->
                        <!--<ui-select ng-model="appointment.time_slot1.year">-->
                        <!--<ui-select-match placeholder="">{{$select.selected}}年</ui-select-match>-->
                        <!--<ui-select-choices repeat="year in dates.years">-->
                        <!--<span ng-bind-html="year | highlight: $select.search"></span>-->
                        <!--</ui-select-choices>-->
                        <!--</ui-select>-->
                    <!--</div>-->
                    <!--<div class="col-sm-2 col-xs-2">-->
                        <!--<ui-select ng-model="appointment.time_slot1.month">-->
                            <!--<ui-select-match placeholder="">{{$select.selected}}月</ui-select-match>-->
                            <!--<ui-select-choices repeat="month in dates.months">-->
                                <!--<span ng-bind-html="month | highlight: $select.search"></span>-->
                            <!--</ui-select-choices>-->
                        <!--</ui-select>-->
                    <!--</div>-->
                    <!--<div class="col-sm-2 col-xs-2">-->
                        <!--<ui-select ng-model="appointment.time_slot1.day">-->
                            <!--<ui-select-match placeholder="">{{$select.selected}}日</ui-select-match>-->
                            <!--<ui-select-choices repeat="day in dates.days">-->
                                <!--<span ng-bind-html="day | highlight: $select.search"></span>-->
                            <!--</ui-select-choices>-->
                        <!--</ui-select>-->
                    <!--</div>-->
                    <!--<div class="col-sm-5 col-xs-5">-->
                        <!--<ui-select ng-model="appointment.time_slot1.time">-->
                            <!--<ui-select-match placeholder="">{{$select.selected}} 北京时间</ui-select-match>-->
                            <!--<ui-select-choices repeat="time in dates.times">-->
                                <!--<span ng-bind-html="time | highlight: $select.search"></span>-->
                            <!--</ui-select-choices>-->
                        <!--</ui-select>-->
                    <!--</div>-->
            <!--</div>-->

            <!--<div class="row">-->
                <!--<div class="col-sm-12 col-xs-12">-->
                    <!--备选预约时间:</div>-->
                <!--<div class="col-sm-3 col-xs-3">-->
                    <!--<ui-select ng-model="appointment.time_slot2.year">-->
                        <!--<ui-select-match placeholder="">{{$select.selected}}年</ui-select-match>-->
                        <!--<ui-select-choices repeat="year in dates.years">-->
                            <!--<span ng-bind-html="year | highlight: $select.search"></span>-->
                        <!--</ui-select-choices>-->
                    <!--</ui-select>-->
                <!--</div>-->
                <!--<div class="col-sm-2 col-xs-2">-->
                    <!--<ui-select ng-model="appointment.time_slot2.month">-->
                        <!--<ui-select-match placeholder="">{{$select.selected}}月</ui-select-match>-->
                        <!--<ui-select-choices repeat="month in dates.months">-->
                            <!--<span ng-bind-html="month | highlight: $select.search"></span>-->
                        <!--</ui-select-choices>-->
                    <!--</ui-select>-->
                <!--</div>-->
                <!--<div class="col-sm-2 col-xs-2">-->
                    <!--<ui-select ng-model="appointment.time_slot2.day">-->
                        <!--<ui-select-match placeholder="">{{$select.selected}}日</ui-select-match>-->
                        <!--<ui-select-choices repeat="day in dates.days">-->
                            <!--<span ng-bind-html="day | highlight: $select.search"></span>-->
                        <!--</ui-select-choices>-->
                    <!--</ui-select>-->
                <!--</div>-->
                <!--<div class="col-sm-5 col-xs-5">-->
                    <!--<ui-select ng-model="appointment.time_slot2.time">-->
                        <!--<ui-select-match placeholder="">{{$select.selected}} 北京时间</ui-select-match>-->
                        <!--<ui-select-choices repeat="time in dates.times">-->
                            <!--<span ng-bind-html="time | highlight: $select.search"></span>-->
                        <!--</ui-select-choices>-->
                    <!--</ui-select>-->
                <!--</div>-->
            <!--</div>-->

            <!--<ul>-->
                <!--&lt;!&ndash;<li ng-repeat="item in items">&ndash;&gt;-->
                    <!--&lt;!&ndash;<a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>&ndash;&gt;-->
                <!--&lt;!&ndash;</li>&ndash;&gt;-->
            <!--</ul>-->
            <!--Selected: <b>{{ selected.item }}</b>-->
        </div>
        <div class="modal-footer">
            <div class="row pull-left col-xs-8">
                *平台会根据你填入的手机号和密码自动生成账号。
            </div>
            <button class="btn btn-primary" type="button" ng-click="ok()">确认预约</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
        </div>
    </script>
    <div class="container">
        <div class="row hidden-xs">
            <div class="col-lg-12 col-sm-12 col-xs-12" >
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-sm-2">
                            地区过滤器：
                        </div>
                        <div class="col-sm-10">
                            <div class="col-sm-2">
                                <a ng-click="getFilterResults('country','United States')">美国</a>
                            </div>
                            <div class="col-sm-2">
                                <a ng-click="getFilterResults('country','Canada')">加拿大</a>
                            </div>
                            <div class="col-sm-2">
                                <a ng-click="getFilterResults('country','United Kingdom')">英国</a>
                            </div>
                            <div class="col-sm-2">
                                <a ng-click="getFilterResults('country','Australia')">澳洲</a>
                            </div>
                            <div class="col-sm-2">
                                <a ng-click="getFilterResults('country','France')">法国</a>
                            </div>
                            <div class="col-sm-2">
                                <a ng-click="getFilterResults('country','All')">显示全部</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-lg-12 col-sm-12 col-xs-12" >
                                    <div>
                                        <b>热门专业：</b>
                                    </div>
                            <br />
                                    <div>
                                        Business: <a ng-click="getFilterResults('major','Finance')">Finance</a>,
                                        <a ng-click="getFilterResults('major','MBA')">MBA</a>,
                                        <a ng-click="getFilterResults('major','Accounting')">Accounting</a>,
                                        <a ng-click="getFilterResults('major','Management Information System')">Information Systems</a>
                                    </div>
                            <br />
                                    <div>
                                        Engineering: <a ng-click="getFilterResults('major','Financial Engineering')">FE</a>,
                                        <a ng-click="getFilterResults('major','Electrical and Electronic Engineering')">ECE</a>,
                                        <a ng-click="getFilterResults('major','Mechanical Engineering')">ME</a>
                                    </div>
                            <br />
                                    <div>
                                        Science: <a>Physics</a>,
                                        <a>Chemistry</a>,
                                        <a ng-click="getFilterResults('major','Computer Science')">CS</a>
                                    </div>
                            <br />
                            <div>
                                Math: <a>Statistics</a>, <a>Applied Math</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">

                    <div class="panel-body">

                        留学目标国家
                        <!--<ui-select multiple ng-model="filters.schools">-->
                        <ui-select ng-model="filters.country" ng-change="updatePageFilter('country')">
                            <!--<ui-select-match placeholder="选择学校...">{{$item}}</ui-select-match>-->
                            <ui-select-match placeholder="选择国家...">{{filters.country}}</ui-select-match>
                            <ui-select-choices repeat="country in constants.countries | filter: $select.search">
                                <span ng-bind-html="country | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                        <hr>
                        选择想要学习的领域
                    <ui-select ng-model="filters.field" ng-change="updatePageFilter('major')">
                        <ui-select-match placeholder="选择专业领域...">{{filters.field}}</ui-select-match>
                        <!--<ui-select-match placeholder="选择专业领域...">{{$item}}</ui-select-match>-->
                        <ui-select-choices repeat="major in availableFields | filter: $select.search">
                            <span ng-bind-html="major | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                    <hr>

                    选择想要了解的学校
                    <!--<ui-select multiple ng-model="filters.schools">-->
                    <ui-select ng-model="filters.school" ng-change="updatePageFilter('school')">
                        <!--<ui-select-match placeholder="选择学校...">{{$item}}</ui-select-match>-->
                        <ui-select-match placeholder="选择学校...">{{filters.school}}</ui-select-match>
                        <ui-select-choices repeat="school in availableSchools | filter: $select.search">
                            <span ng-bind-html="school | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                    </div>


                </div>
            </div>
            <div class="col-sm-8">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div ng-repeat="person in model.currentTutors track by $index">
                            <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-6 col-sm-2 col-md-2" style="margin-top: 5px;">
                                        <img ng-src={{person.image}} class="img-rounded" alt="" height="110" width="110">
                                    </div>
                                    <div class="col-xs-6 col-sm-2 col-md-2 col-sm-push-8">
                                        <br />
                                        <button class="btn btn-primary" ng-click="openInfoPage($index)">主页</button>
                                        <br />
                                        <br />
                                        <button class="btn btn-success" ng-click="openModal($index)">预约</button>
                                        <!--"makeAppointment($index)"-->
                                    </div>
                                    <div class="col-xs-12 col-sm-7 col-md-7 col-md-offset-1 col-sm-pull-2" style="padding-left: 30px;">
                                        <div class="caption">
                                            <b>{{person.name}}</b>
                                            <br />
                                            <br />
                                            {{person.school}}
                                            <br />
                                            {{person.degree}}
                                            <br />
                                            {{person.major}}
                                            <!--{{person.country}}-->
                                        </div>
                                    </div>

                                </div>
                                </div>
                            </div>
                        </div>
                        每页浏览 <select ng-model="viewby" ng-change="setItemsPerPage(viewby)"><option>3</option><option>5</option><option>10</option><option>20</option><option>30</option><option>40</option><option>50</option></select> 位导师.

                        <div>
                            <!--<table class="table">-->
                                <!--<tr ng-repeat="row in data.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">-->
                                    <!--<td>{{row.name}}</td>-->
                                    <!--<td>{{row.id}}</td>-->
                                <!--</tr>-->
                            <!--</table>-->

                            <!--<pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm" items-per-page="itemsPerPage"></pagination>-->
                            <!--<pre>The selected page no: {{currentPage}}</pre>-->
                            <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage"></pagination>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>