<div class="content-section" id="index" ng-controller="One2OneController">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12" >
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-sm-2">
                            地区过滤器：
                        </div>
                        <div class="col-sm-2">
                            <a>美国</a>
                        </div>
                        <div class="col-sm-2">
                            <a>英国</a>
                        </div>
                        <div class="col-sm-2">
                            <a>澳洲</a>
                        </div>
                        <div class="col-sm-2">
                            <a>加拿大</a>
                        </div>
                        <div class="col-sm-2">
                            <a>显示全部</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-lg-12 col-sm-12 col-xs-12" >
                                    <div>
                                        <b>热门专业：</b>
                                    </div>
                            <br />
                                    <div>
                                        Business: <a>Finance</a>, <a>MBA</a>, <a>Account</a>, <a>Information Systems</a>
                                    </div>
                            <br />
                                    <div>
                                        Engineering: <a>FE</a>, <a>ECE</a>, <a>ME</a>
                                    </div>
                            <br />
                                    <div>
                                        Science: <a>Physics</a>, <a>Chemistry</a>, <a>CS</a>
                                    </div>
                            <br />
                            <div>
                                Math: <a>Statistics</a>, <a>Applied Math</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">

                    <div class="panel-body">
                        选择想要学习的领域
                    <ui-select multiple  ng-model="filters.fields">
                        <ui-select-match placeholder="选择专业领域...">{{$item}}</ui-select-match>
                        <ui-select-choices repeat="major in availableFields | filter: $select.search">
                            <span ng-bind-html="major | highlight: $select.search"></span>
                        </ui-select-choices>

                        <!--<ui-select id="schoolcountry" name="schoolcountry" ng-model="school.country">-->
                            <!--<ui-select-match placeholder="国家/区域，英文">{{$select.selected}}</ui-select-match>-->
                            <!--<ui-select-choices repeat="country in availableCountries | filter: $select.search">-->
                                <!--<span ng-bind-html="country | highlight: $select.search"></span>-->
                            <!--</ui-select-choices>-->
                        <!--</ui-select>-->


                    </ui-select>
                    <hr>
                    选择想要了解的学校
                    <ui-select multiple ng-model="filters.schools">
                        <ui-select-match placeholder="选择学校...">{{$item}}</ui-select-match>
                        <ui-select-choices repeat="school in availableSchools">
                            {{school}}
                        </ui-select-choices>
                    </ui-select>
                    </div>


                </div>
            </div>
            <div class="col-sm-8">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div ng-repeat="person in model.tutors track by $index">
                            <div class="thumbnail" style="height:160px">
                                <div class="col-sm-3 col-md-3" style="margin-top: 5px;">
                                    <div>
                                        <img ng-src={{person.image}} alt="" height="140px" width="140px">
                                    </div>
                                </div>
                                <div class="col-sm-7 col-md-7">
                                    <div class="caption">
                                        <b>{{person.name}}</b>
                                        <br />
                                        <br />

                                        {{person.school}}
                                        <br />
                                        <br />
                                        {{person.degree}}  {{person.major}}
                                        <!--{{person.country}}-->

                                    </div>
                                </div>
                                <div class="col-sm-2 col-md-2">
                                    <br />
                                    <button class="btn btn-primary">主页</button>
                                    <br />
                                    <br />
                                    <button class="btn btn-success" ng-click="makeAppointment($index)">预约</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>