<div class="content-section" id="index" ng-controller="RegisterController">
    <div class="container">
            <div class="panel panel-default">
                <!--<div class="panel-heading">-->
                    <!--<h3 class="panel-title">Dream Guide导师注册申请</h3>-->
                <!--</div>-->

                <div class="panel-body">
                    <h2 style="margin: 0 0 10px;">导师资格申请表</h2>
                    <div class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong></strong> 我们将对所有个人信息进行保密 ( <a>隐私政策</a> ) ，为了维护平台正常使用，保障各方权益，请填写真实信息。
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><b>个人信息</b></h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-sm-6 col-xs-6">

                                <form name="loginForm" novalidate>
                                    <br />
                                    <div class="form-group" ng-class="{'has-error': loginForm.username.$invalid}">
                                        <label>显示姓名</label>

                                        <input class="form-control" name="username" type="text"
                                               placeholder="英文名，将作为用户名称在平台中显示" required ng-model="tutor.userName" />
                                        <span class="help-block" ng-show="loginForm.username.$error.required">不能为空</span>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error': loginForm.realname.$invalid}">
                                        <label>真实姓名</label>
                                        <input class="form-control" name="realname" type="text"
                                               placeholder="有助于身份核实, 不会在平台中显示" required ng-model="tutor.realName" />
                                        <span class="help-block" ng-show="loginForm.realname.$error.required">不能为空</span>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error': loginForm.email.$invalid}">
                                        <label for="email">电子邮箱</label>
                                        <input class="form-control" id="email" name="email" type="email"
                                               placeholder="电子邮箱将作为登陆账户" required ng-model="tutor.email" />
                                        <span class="help-block" ng-show="loginForm.email.$error.required">不能为空</span>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error': loginForm.password.$invalid}">
                                        <label>密码</label>
                                        <input class="form-control" name="password" type="password"
                                               placeholder="登录密码" required ng-model="tutor.passWord" />
                                        <span class="help-block" ng-show="loginForm.password.$error.required">不能为空</span>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error': loginForm.wechat.$invalid}">
                                        <label>微信号/QQ号</label>
                                        <input class="form-control" name="wechat" type="text"
                                               placeholder="有助于沟通联系" required ng-model="tutor.wechat" />
                                        <span class="help-block" ng-show="loginForm.wechat.$error.required">不能为空</span>
                                    </div>
                                    <div class="form-group">
                                        <label>常用电话</label>
                                        <input class="form-control" name="cellphone" type="text"
                                               placeholder="有助于沟通联系" ng-model="tutor.cellphone" />
                                    </div>
                                    <div class="form-group">
                                        <label>Skype 号码</label>
                                        <input class="form-control" name="skype" type="text"
                                               placeholder="辅助沟通交流" ng-model="tutor.skype" />
                                    </div>
                                    <div class="form-group">
                                        <label>支付宝账号</label>
                                        <input class="form-control" name="alipay" type="text"
                                               placeholder="支付宝账号便于交付,是平台主要支付手段之一" ng-model="tutor.alipay" />
                                    </div>

                                </form>

                                </div>
                            <div class="col-sm-6 col-xs-6">
                                <br />
                                <b>头像上传</b>
                                <br />
                                做一名有头有脸可信可爱的导师，请上传一张你认为最帅气最职业最有范的个人半身照。(PNG,GIF,JPG 格式的图片文件)
                                <hr class="soften"/>

                                <input type="file" img-cropper-fileread image="cropper.sourceImage" />
                                <div>
                                    <canvas width="500" height="300" id="canvas" image-cropper image="cropper.sourceImage" cropped-image="cropper.croppedImage" crop-width="130" crop-height="130" keep-aspect="true"></canvas>
                                </div>
                                <div>图片预览:</div>
                                <div ng-show="cropper.croppedImage!=null"><img ng-src="{{cropper.croppedImage}}" /></div>

                                <!--<button ng-click="upload()">click</button>-->

                                <div id="drawing">
                                </div>
                            </div>
                    </div>
                        </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">专业和工作背景</h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-sm-6 col-xs-6">
                                <form name="loginForm2" novalidate>
                                    <br />
                                    <div class="form-group" ng-class="{'has-error': loginForm2.studycountry.$invalid}">
                                        <label>留学国家</label>

                                        <input class="form-control" name="studycountry" type="text"
                                               placeholder="填写最高学历在读或毕业学校所在国家即可" required ng-model="tutor.studyCountry" />
                                        <span class="help-block" ng-show="loginForm2.studycountry.$error.required">不能为空</span>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error': loginForm2.workcountry.$invalid}">
                                        <label>现居国家/地区</label>
                                        <input class="form-control" name="workcountry" type="text"
                                               placeholder="毕业后工作所在国家或地区，在读学生填写学校国家" required ng-model="tutor.workCountry" />
                                        <span class="help-block" ng-show="loginForm2.workcountry.$error.required">不能为空</span>
                                    </div>
                                    <div class="form-group">
                                        <label>LinkedIn/领英 链接</label>
                                        <input class="form-control" name="linkedin" type="text"
                                               placeholder="有助于身份核实，不会在平台中显示" ng-model="tutor.linkedin" />
                                    </div>
                                    <div class="form-group">
                                        <label>工作单位</label>
                                        <input class="form-control" name="company" type="text"
                                               placeholder="已经工作的导师可以填写现在的工作单位" ng-model="tutor.company" />
                                    </div>
                                    <div class="form-group">
                                        <label>个人简介</label>
                                        <textarea style="height: 150px;" class="form-control" placeholder="请用少于100字介绍自己的学习工作状况, 个人简介会成为别人了解你资料的第一印象。" ng-model="tutor.profile"></textarea>
                                    </div>
                                </form>
                            </div>
                            <div class="col-sm-6 col-xs-6">
                                <form name="loginForm3" novalidate>
                                    <br />
                                    <div class="form-group" ng-class="{'has-error': loginForm3.school.$invalid}">
                                        <label for="school">在读/毕业院校</label>
                                        <ui-select id="school" name="school" ng-model="tutor.gradSchool" style="font-family: Georgia, Serif;" required>
                                            <ui-select-match placeholder="选择国外最高学历在读或毕业院校">{{$select.selected}}</ui-select-match>
                                            <ui-select-choices repeat="school in availableSchools | filter: $select.search">
                                                <span ng-bind-html="school | highlight: $select.search"></span>
                                            </ui-select-choices>
                                        </ui-select>

                                        <!--<ui-select ng-model="country.selected"  ng-disabled="disabled" style="width: 300px;">-->
                                            <!--<ui-select-match placeholder="Select or search a country in the list...">{{$select.selected}}</ui-select-match>-->
                                            <!--<ui-select-choices repeat="country in countries | filter: $select.search">-->
                                                <!--<span ng-bind-html="country.name | highlight: $select.search"></span>-->
                                                <!--<small ng-bind-html="country.code | highlight: $select.search"></small>-->
                                            <!--</ui-select-choices>-->
                                        <!--</ui-select>-->

                                        <!--<input class="form-control" id="school" name="school" type="text"-->
                                               <!--placeholder="填写国外最高学历在读或毕业院校, 推荐使用英文全称" required ng-model="tutor.school" />-->
                                        <span class="help-block" ng-show="loginForm3.school.$error.required">不能为空</span>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error': loginForm3.degree.$invalid}">
                                        <label>学历</label>
                                        <input class="form-control" name="degree" type="text"
                                               placeholder="获得或在读的最高学位，如Master" required ng-model="tutor.degree" />

                                        <span class="help-block" ng-show="loginForm3.degree.$error.required">不能为空</span>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error': loginForm3.major.$invalid}">
                                        <label>专业</label>

                                        <ui-select name="major" ng-model="tutor.gradMajor" required>
                                            <ui-select-match placeholder="选择相关专业">{{$select.selected}}</ui-select-match>
                                            <ui-select-choices repeat="field in availableFields | filter: $select.search">
                                                <span ng-bind-html="field | highlight: $select.search"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                        <span class="help-block" ng-show="loginForm3.major.$error.required">不能为空</span>
                                    </div>
                                    <div class="form-group">
                                        <label>学校邮箱</label>
                                        <input class="form-control" name="schoolemail"
                                               placeholder="填写学校邮箱有助于加快身份验证" ng-model="tutor.schoolEmail" />
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>

                    <button type="button" class="btn btn-primary" ng-disabled="!(loginForm.$valid&&loginForm2.$valid&&loginForm3.$valid)" ng-click="submitApply()">
                        提交申请
                    </button>

                    <button type="button" class="btn btn-default" ng-click="reset()">
                        重置申请
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>