<div class="content-section" id="index" ng-controller="StudentRegController">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
                <div class="row row-gap-medium ng-scope">
                    <!-- ngView:  -->
                    <div>
                        <div class="form-box ng-scope" style="padding:0 35px 35px 35px; ">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <h2 style="color: #307699; line-height: 1.6;">学生注册 </h2>

                                    <form class="form-horizontal ng-pristine ng-valid" role="form">
                                        <div class="row onboarding-form-group">
                                            <div>
                                                <div>
                                                    <!--data-ng-class="{'has-error': contactInfoErrors.setsEmail}">-->
                                                    <div class="col-sm-8 col-xs-8">
                                                        <label for="phoneNum">手机号注册</label>
                                                    </div>
                                                    <div style="clear:both"></div>
                                                    <div class="col-sm-6 col-xs-7">
                                                        <input type="phoneNum" class="form-control pull-left ng-pristine ng-valid ng-valid-email" id="phoneNum" placeholder="+86" data-ng-model="phoneNum">
                                                    </div>
                                                    <div class="col-sm-4 col-xs-5">
                                                        <button type="submit" class="btn btn-block btn-success" data-ng-click="phoneAuthFns()">发送验证码</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row onboarding-form-group">
                                                <div>
                                                    <!--data-ng-class="{'has-error': contactInfoErrors.setsEmail}">-->
                                                    <div class="col-sm-12 col-xs-12">
                                                    <label>手机验证码</label>
                                                    </div>

                                                    <div style="clear:both"></div>
                                                    <div class="col-sm-6 col-xs-7">
                                                        <input class="form-control pull-left" placeholder="请输入接收到的验证码" data-ng-model="confirmAuthCode">
                                                    </div>
                                                    <div class="col-sm-4 col-xs-5">
                                                        <button type="submit" class="btn btn-block btn-success" data-ng-click="showPSArea()">提交验证码</button>
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="row onboarding-form-group" data-ng-show="passArea">
                                            <div class="col-sm-10 col-xs-10">
                                                <div>
                                                    <!--data-ng-class="{'has-error': contactInfoErrors.setsPassword}">-->
                                                    <label for="password">设置密码</label>
                                                    <div style="clear:both"></div>
                                                    <input type="password" class="form-control pull-left ng-pristine ng-valid" id="password" placeholder="请输入密码" data-ng-model="password">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row row-gap-medium" data-ng-show="password">
                                            <div class="col-sm-5 col-xs-8">
                                                <button type="submit" class="btn btn-block btn-primary" data-ng-click="register()">注册账户</button>
                                                <!--data-ng-disabled="buttonDisabled"-->
                                            </div>
                                        </div>
                                        <br />
                                        <br />
                                    </form>
                                    <div class="pull-right">想成为平台导师，<a href="/register_info">点击这里!</a></div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>