<div class="col-xs-12 section section-standout-alternate" id="index" ng-controller="ThankYouController">
    <br>
    <div class="well well-lg" style="padding: 80px;margin-bottom: 80px;margin-top: 80px;font-size: 16px;">
        非常感谢! 您的导师申请已经送达我们平台的审核小组, 结果预期将在1到2个工作日后产生。
        <br />
        <br />
        如果您有任何疑问, 请发送email到<a href="mailto:support@1.com">审核小组</a>, 再次感谢!
    <div>
        <br />
        <br />
        我的平台页面
        <!--查看<a href="/profile">我的平台页面</a>-->
    </div>
        </div>
</div>