<div class="content-section" id="index" ng-controller="RegisterController">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12" >
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>成为dreamguide导师</h4>
                        <p>化知识为实用</p>
                        <p>扩大社交网络，培养沟通能力</p>
                        <p>经验传递的反馈思考，教学相长</p>
                        <p>发现团队，发现伙伴</p>
                        <p>获得应得的酬劳</p>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>dreamguide导师的责任</h4>
                        <p>在客观的基础上用自己的经验帮助别人获得新视角</p>
                        <p>诚实的态度，中肯的建议</p>
                        <p>及时回复</p>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>dreamguide平台协议</h4>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>dreamguide平台支付协议</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <a class="page-scroll" href="/register">确认</a>
        </div>

    </div>
</div>