<div id="index" ng-controller="TutorInfoController">
    <div class="info_section_top">
        <div class="row">
            <br />
            <br />
            <p style="font-size: 40px;color: #1E3547;text-align: center;">
                DreamGuide
            </p>
            <br />
            <br />
            <br />
            <div class="col-xs-10 col-xs-offset-1" style="font-size: 26px;color: #1E3547;text-align: center;">
                海外留学精英为申请者提供专业咨询的平台
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <div class="row">
                <div style="text-align:center">
                    <button type="submit" class="btn btn-custom-transparent"
                            ng-click="toRegister()">直接前往导师注册</button>
                </div>
            </div>
        </div>
    </div>
    <div class="content-section" style="padding-top: 0;padding-bottom: 40px;">
        <div class="section section-standout-alternate">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-8 col-md-offset-2" style="text-align: center">
                        <h2 class="h-slim-top">Dreamguide 导师责任</h2>
                        <!--<div class="pretty-format"><p>These are the projects you'll build and the classes that will prepare you to build each of the projects. You'll have access to all these in the Nanodegree:</p>-->
                        <br />
                        <p><strong>保持个人信息真实准确</strong></p>

                        <!--<p>Learn fundamental data science skills like data wrangling, applied statistics and machine learning, effective visualization, and working with big data using MapReduce. Pose a question about the New York City Subway and work with the subway ridership dataset to draw an interesting conclusion about the dataset itself.</p>-->

                        <p><strong>对他人的个人及敏感信息有意识的保密</strong> <br>

                        <p><strong>在客观的基础上用自己的经验帮助别人获得新视角</strong> <br>
                            <!--Use R to apply exploratory data analysis techniques. Practice understanding a single variable and relationships between multiple variables, and explore a selected data set for distributions, outliers, and anomalies.</p>-->

                            <!--<p>Prepare for this project with: <a href="https://www.udacity.com/course/data-analysis-with-r&#45;&#45;ud651">Data Analysis with R</a></p>-->

                        <p><strong>用诚实的态度提出中肯的建议</strong> <br>

                        <p><strong>及时回复, 并且保持一定活跃度</strong></p>

                    </div>
                </div>
            </div>
        </div>
        <br />
        <!--<div class="row">-->
        <!--<div class="container">-->
        <!--<div id="dreamguide-payment-section" class="panel panel-default">-->
        <!--<div class="panel-body">-->
        <!--<h4>dreamguide平台支付协议</h4>-->
        <!--</div>-->
        <!--<div class="panel-body">-->
        <!--<textarea class="col-sm-12 col-xs-12 col-md-12" style="height:250px; font-size: 16px;" readonly>-->
        <!--1.  您确认，在您使用本平台支付服务（以下简称“本服务“）时，您是具有中华人民共和国法律规定的完全民事权利能力和民事行为能力的，能够独立承担民事责任的自然人（中华人民共和国境内（香港、澳门除外）的用户应年满18周岁），或者是在中国大陆地区合法开展经营活动或其他业务的法人或其他组织；本协议内容不受您所属国家或地区法律的排斥。不具备前述条件的，您应立即终止使用本服务。-->
        <!--2.  本协议条款与您的权益具有或可能具有重大关系，请您在同意接受本服务前确认，您已经充分阅读、理解并接受本协议的全部内容，一旦您选择本服务，即表示您同意遵循本协议的所有约定。-->
        <!--3.  您知晓，您选择使用的本服务要求您提供个人的支付信息，您需保证您所提供的所有信息是真实的、合法的、正确的、完整的。本协议所指支付信息是指您使用本服务时需要提供的个人信息，包括但不限于账户名、密码、个人姓名、身份证号码、银行卡号等。-->
        <!--4.  您同意，为了提供本服务的技术需要，我们有权采集、获取或在系统内保存您的部分支付信息。-->
        <!--5.  我们将严格确保您的个人信息和支付信息的安全。-->
        <!--6.  您知晓，您如使用本服务进行支付的，应当在确认支付金额后输入手机动态口令/支付密码/取款密码进行支付。您认可和同意：输入手机动态口令/支付密码/取款密码即视为您确认交易和交易金额并已不可撤销地向我们的支付系统发出指令，我们有权根据您的指令委托银行或第三方支付从您的银行卡中将您确认的交易资金划扣给收款人。您不应以非本人意愿交易或其他任何原因要求退款或承担其他责任。-->
        <!--7.  您承诺，对使用本服务过程中您发出的所有指令的真实性、有效性承担全部责任；我们依照您的指令进行操作的一切风险由您自行承担。-->
        <!--8.  您认可，您使用本服务所涉及的账户的使用记录数据、交易金额数据等均以我们系统平台记录的数据为准。-->
        <!--9.  您保证，不向其他任何人泄露该支付信息。您知晓，您应妥善保管银行卡、卡号、密码以及您的账号、密码、数字证书等与银行卡或与您的支付账户有关的一切信息。如您遗失银行卡、泄露账户密码或相关信息的，您应及时通知发卡行及/或我们，以减少可能发生的损失。因泄露密码、数字证书、丢失银行卡等导致的损失需由您自行承担。-->
        <!--10. 您认可，在我们有合理理由怀疑您提供的资料错误、不实、过时或不完整的情况下，本平台有权暂停或终止向您提供部分或全部本服务，您将承担因此产生的一切责任，公司对此不承担任何责任。-->
        <!--11. 您认可，如果您违反本协议的约定；或违反本网站或其他关联公司网站的条款、协议、规则、通告等相关规定，而被终止提供服务的，我们有权暂停或终止向您提供部分或全部本服务，您将承担因此产生的一切责任，公司对此不承担任何责任。-->
        <!--12. 如您发现有他人冒用或盗用您的账户及密码或任何其他未经合法授权之情形时，应立即以书面方式通知本平台并要求暂停本服务。我们将积极响应您的要求，但您理解，对您的要求采取行动需要合理期限，在此之前，本平台对已执行的指令及(或)所导致的您的损失不承担任何责任。-->
        <!--13. 您同意，本平台有权随时对本协议内容进行单方面的变更，并以在本网站公告的方式予以公布，无需另行单独通知您；若您在本协议内容公告变更后继续使用本服务的，表示您已充分阅读、理解并接受修改后的协议内容，也将遵循修改后的协议内容使用本服务；若您不同意修改后的协议内容，您应停止使用本服务。-->
        <!--14. 本协议之效力、解释、变更、执行与争议解决均适用中华人民共和国法律，没有相关法律规定的，参照通用国际商业惯例和（或）行业惯例。-->
        <!--15. 本协议产生之争议，双方应当友好协商解决，无法达成一致的，接受DreamGuide平台所在地法院的管辖。-->
        <!--</textarea>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
        <!--<div class="col-xs-12 col-sm-6 col-md-3 pull-right">-->
        <!--<button type="submit" class="btn btn-block btn-primary" ng-click="toRegister()">认同协议，前往注册</button>-->
        <!--</div>-->
        <!--</div>-->
    </div>
    <div class="section" style="padding-top: 0;">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h2 class="h-slim">DreamGuide 导师福利</h2>
                    <p class="text-quote-size">
                        <small>
                            付出的同时也会不断完善和提高自我
                        </small>
                    </p>
                </div>
            </div>
            <div class="row row-gap-small"></div>
            <div class="row text-center">
                <div class="col-sm-3">
                    <img class="icon-large" alt="Silicon Valley cityscape" title="Silicon Valley cityscape" src="image/svg/tutor_info/formula_silicon_valley.svg">
                    <br>
                    <h3>追忆</h3>
                    <p class="text-large">
                        在学弟学妹的分享中寻找当年的自己
                    </p>
                </div>
                <div class="col-sm-3">
                    <img class="icon-large" alt="employee badge" title="employee badge" src="image/svg/tutor_info/job_focused.svg">
                    <br>
                    <h3>伙伴</h3>
                    <p class="text-large">
                        向你咨询的TA，可能是你未来的合作伙伴
                    </p>
                </div>
                <div class="col-sm-3">
                    <img class="icon-large" alt="challenging pathway to top" title="challenging pathway to top" src="image/svg/tutor_info/formula_rigourous.svg">
                    <br>
                    <h3>成功</h3>
                    <p class="text-large">
                        你的成功，从帮助别人的成功开始
                    </p>
                </div>
                <div class="col-sm-3">
                    <img class="icon-large" src="image/svg/tutor_info/wallet2.svg">
                    <br>
                    <h3>报酬</h3>
                    <p class="text-large">
                        按小时计费，报酬丰厚
                    </p>
                </div>
            </div>
            <div class="row row-gap-medium">
                <br>
                <div class="col-xs-12 text-center">
                    <p class="text-large" style="font-size: 20px">
                        <a href="#" ng-click="toRegister()"><strong>1分钟，完成导师注册，现在去填写!</strong></a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>