body {
    height: 100%;
    font-family: "Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 1.7;
    color: #303030;
    background-color: #f3f3f3;
    width: auto !important;
    overflow-x: hidden !important;
}

html {
    height: 100%;
    width: auto !important;
    overflow-x: hidden !important;
}

h1,
h2,
h3,
h4,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: "Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",Arial,Helvetica,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

h5{
    margin: 0 0 15px;
    text-transform: uppercase;
    font-family: "Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",Arial,Helvetica,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 15px;
    line-height: 1.5;
}

@media(min-width:767px) {
    p {
        margin: 0 0 35px;
        font-size: 18px;
        line-height: 1.6;
    }
    p.people{
        margin: 0 0 15px;
        font-family: "Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",Arial,Helvetica,sans-serif;
        font-weight: 300;
        letter-spacing: 1px;
    }
}

a {
    color: #219ab3;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #11505d;
}

#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 1);
    background-image: url("../../image/loading_transparent.gif");
    background-repeat: no-repeat;
    background-position: center;
}

.light {
    font-weight: 400;
}

.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:center;
    /* inline-block space fix */
    margin-right:-4px;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: "Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",Arial,Helvetica,sans-serif;
    /*Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;*/
    background-color: #000;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .dropdown-menu {
    font-family: "Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",Arial,Helvetica,sans-serif;
    background-color: #C0C0C0;

}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li.active {
    outline: nonte;
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a.active {
    outline: 0;
    background-color: rgba(255,255,255,.3);
}

@media(min-width:767px) {
    .navbar {
        padding: 15px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: #1e3547;
    }

    .navbar-custom.top-nav-collapse {
        border-bottom: 0px solid rgba(255,255,255,.3);
    }
}

.sliding-text-wrapper {
    position: relative;
    display: block;
    text-align: center;
}

.stationary-text-top {
    font-size: 24px;
}

.sliding-text{
    font-size: 40px;
    font-weight: 400;
}

.sliding-text>span{
    width: 100%;
    margin-left: -50%;
    position: absolute;
    opacity: 0;
    overflow: hidden;
    -webkit-animation: push-text-in 12s 0s linear infinite;
    -moz-animation: push-text-in 12s 0s linear infinite;
    -o-animation: push-text-in 12s 0s linear infinite;
    animation: push-text-in 12s 0s linear infinite;
}

.sliding-text>span:nth-child(1){
    -webkit-animation-delay:0s;
    -moz-animation-delay:0s;
    -o-animation-delay:0s;
    animation-delay:0s
}

.sliding-text>span:nth-child(2){
    -webkit-animation-delay:3s;
    -moz-animation-delay:3s;
    -o-animation-delay:3s;
    animation-delay:3s
}

.sliding-text>span:nth-child(3){
    -webkit-animation-delay:6s;
    -moz-animation-delay:6s;
    -o-animation-delay:6s;
    animation-delay:6s
}

.sliding-text>span:nth-child(4) {
    -webkit-animation-delay: 9s;
    -moz-animation-delay: 9s;
    -o-animation-delay: 9s;
    animation-delay: 9s;
}

@-webkit-keyframes push-text-in{
    0%{-webkit-transform:translateX(-60px);transform:translateX(-60px);opacity:0}
    2%{-webkit-transform:translateX(5px);transform:translateX(5px);opacity:1}
    5%{-webkit-transform:translateX(0px);transform:translateX(0px)}
    20%{opacity:1}25%{opacity:0}100%{opacity:0}
}

@-moz-keyframes push-text-in{
    0%{-moz-transform:translateX(-60px);transform:translateX(-60px);opacity:0}
    2%{-moz-transform:translateX(5px);transform:translateX(5px);opacity:1}
    5%{-moz-transform:translateX(0px);transform:translateX(0px)}
    20%{opacity:1}25%{opacity:0}100%{opacity:0}
}

@-o-keyframes push-text-in{
    0%{-o-transform:translateX(-60px);transform:translateX(-60px);opacity:0}
    2%{-o-transform:translateX(5px);transform:translateX(5px);opacity:1}
    5%{-o-transform:translateX(0px);transform:translateX(0px)}
    20%{opacity:1}25%{opacity:0}100%{opacity:0}
}

@keyframes push-text-in{
    0%{transform:translateX(-60px);opacity:0}
    2%{transform:translateX(5px);opacity:1}
    5%{transform:translateX(0px)}
    20%{opacity:1}25%{opacity:0}100%{opacity:0}
}

.row.row-gap-huge {
    margin-top: 60px;
}

.row.row-gap-medium {
    margin-top: 30px;
}

.row.row-gap-info {
    font-family: "Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",Arial,Helvetica,sans-serif;
    text-align: center;
    font-size: 36px;
    color: #11505d;
    font-weight: 900;
}

.stationary-text-bottom {
    font-size: 20px;
    font-family: "Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",Arial,Helvetica,sans-serif;
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 160px 0;
    text-align: center;
    color: #fff;
    font-family: "Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",Arial,Helvetica,sans-serif;
    background: url(../../image/main/dreamguide02.jpg) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}

@media(min-width:767px) {
    .intro {
        height: 75%;
        /*padding: 0;*/
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
    }

    .intro .intro-body .intro-text {
        font-size: 25px;
    }
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 35px;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

/*.thumbnail-large {*/
    /*max-width: 500px;*/
    /*max-height: 400px;*/
    /*line-height: 20px;*/
    /*margin-bottom: 10px;*/
    /*}*/

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {
0 {
    -webkit-transform: scale(1);
    transform: scale(1);
}

50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

100% {
    -webkit-transform: scale(1);
    transform: scale(1);
}
}

@-moz-keyframes pulse {
0 {
    -moz-transform: scale(1);
    transform: scale(1);
}

50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
}

100% {
    -moz-transform: scale(1);
    transform: scale(1);
}
}

.content-section{
    padding-top: 50px;
    padding-bottom: 100px;
    font-size: 14px;
    line-height: 1.7;
    color: #303030;
    background-color: #fff;
    /*background-color: #F0F0F0;*/
    /*font-family: "华文细黑", "Microsoft JhengHei",  Tahoma , Verdana , Arial , sans-serif;*/
    font-family: "Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",Arial,Helvetica,sans-serif;
}
.content-footer{
    padding-top:75px;
    padding-bottom: 35px;
    font-size: 10px;
    color: #303030;
    /*background-color: #fff;*/
    background-color: #F0F0F0;
    font-size: 12px;
    font-family: "Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",Arial,Helvetica,sans-serif;
}

.content-blank-white{
    padding-top: 50px;
    background-color: #F0F0F0;
}

hr.hr-gradient {
    border: none;
    height: 1px;
    background-image: -webkit-linear-gradient(left,#fff,#dcdcdc 50%,#fff);
    background-image: linear-gradient(to right,#fff,#dcdcdc 50%,#fff);
    background-repeat: no-repeat;
}

.one2one-section{
    padding-top: 75px;
    padding-bottom: 75px;
    color: #307699;
    font-size: 16px;
    background-color: #fff;
    font-family: "Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",Arial,Helvetica,sans-serif;
}

.icon-large {
    width: 100px;
    font-size: 75px;
}

.icon-middle {
    width: 60px;
    font-size: 35px;
}

.icon-small {
    width: 35px;
    font-size: 15px;
}

/* Custom Button Styles */

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}

/* section standout*/
.standout-section{
    padding-top: 75px;
    padding-bottom: 75px;
    color: #307699;
    font-size: 16px;
    background-color: #F0F0F0;
    font-family: "Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",Arial,Helvetica,sans-serif;
}

.text-inverse{
    color:#fff
}

.text-inverse a{
    color:#fff;
    text-decoration:underline
}

.text-inverse h1,.text-inverse h2,.text-inverse h3,.text-inverse h4,.text-inverse h5{
    color:#fff
}

.section.section-slim,.section-inverse.section-slim{
    padding-top:0;padding-bottom:0
}

.section-inverse {
    background-color: #4e4e4e;
}

.section.section-standout-alternate {
    background-color: #dfeaf1;
}

.section.section-small, .section-inverse.section-small {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #fff;
}

.section, .section-inverse {
    padding-top: 60px;
    padding-bottom: 60px;
}

.section-inverse.section-inverse-space {
    background-image: -webkit-linear-gradient(top,#294860 0,#307699 100%);
    background-image: linear-gradient(to bottom,#294860 0,#307699 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff294860', endColorstr='#ff307699', GradientType=0);
}

.section.section-front-end-web{
    background-color:#00a4b9
}

.hover-translucify:hover{
    transition:opacity .5s ease;opacity:.5
}


.transparent{
    transition:opacity .5s ease;opacity:0
}
.translucent,.hover-translucify:hover{
    transition:opacity .5s ease;opacity:.5
}
.opaque,.hover-opacify:hover{
    transition:opacity .5s ease;opacity:1
}

.homepage-tile{width:100%;padding:0;margin:0;font-size:18px}.homepage-tile .tile-split-title{padding-bottom:40%}@media (max-width:767px){.homepage-tile .tile-split-title{padding-bottom:150px}}.homepage-tile .tile-split-image{padding-bottom:60%}.homepage-tile .tile-content-text{padding:15px}.homepage-tile .tile-content-full-image{max-width:100%;max-height:100%}.homepage-tile .tile-content-split-image{max-width:70%;max-height:70%;padding-bottom:10px;margin-left:auto;margin-right:auto}.homepage-tile .tile-title{margin-top:10px}.homepage-tile .tile-content-split-image-small{max-width:70%;max-height:70%;padding-bottom:10px;margin-left:auto;margin-right:auto;max-height:50%;max-width:50%}.homepage-tile .tile-full-image,.homepage-tile .tile-split-title,.homepage-tile .tile-split-image,.homepage-tile title-split-status{position:relative}.homepage-tile .tile-inner{position:absolute;width:100%;left:0;right:0;top:0;bottom:0;text-align:center}


.section.section-data-analyst{background-color:#ac4057}
.section.section-resume-analyst{background-color:#7D7DA1}
.section.section-ios{background-color:#e7654e}
.section.section-full-stack{background-color:#6b80dd}
.section.section-intro-to-programming{background-color:#c45381}
.section.section-android{
    background-color:#149671}
.section-inverse{background-color:#4e4e4e}
.section-inverse.section-inverse-standout{background-color:#f08c35}
.section-inverse.section-inverse-standout-alternate{background-color:#1f8fc1}

/* Services */

.services-section {
    padding: 100px 0;
    background-color: #b3d4fc;
}

.service-section {
    width: 100%;
    padding: 100px 0;
    color:  #fff;
    background: url(../img/desk2-bg.jpg) no-repeat center center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* panelNews */
.panelNew {
    border-style: solid;
    border-width: 1px;
    border-color: #d8d8d8;
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    background: #f2f2f2;
    color: #333333; }
.panelNew > :first-child {
    margin-top: 0; }
.panelNew > :last-child {
    margin-bottom: 0; }
.panelNew h1, .panelNew h2, .panelNew h3, .panelNew h4, .panelNew h5, .panelNew h6, .panelNew p, .panelNew li, .panelNew dl {
    color: #333333; }
.panelNew h1, .panelNew h2, .panelNew h3, .panelNew h4, .panelNew h5, .panelNew h6 {
    line-height: 1;
    margin-bottom: 0.625rem; }
.panelNew h1.subheader, .panelNew h2.subheader, .panelNew h3.subheader, .panelNew h4.subheader, .panelNew h5.subheader, .panelNew h6.subheader {
    line-height: 1.4; }
.panelNew.transparents {
    border-style: solid;
    border-width: 1px;
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    color: #333333;
}
.panelNew.callout {
    border-style: solid;
    border-width: 1px;
    border-color: #d8d8d8;
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    background: #ecfaff;
    color: #333333; }
.panelNew.callout > :first-child {
    margin-top: 0; }
.panelNew.callout > :last-child {
    margin-bottom: 0; }
.panelNew.callout h1, .panelNew.callout h2, .panelNew.callout h3, .panelNew.callout h4, .panelNew.callout h5, .panelNew.callout h6, .panelNew.callout p, .panelNew.callout li, .panelNew.callout dl {
    color: #333333; }
.panelNew.callout h1, .panelNew.callout h2, .panelNew.callout h3, .panelNew.callout h4, .panelNew.callout h5, .panelNew.callout h6 {
    line-height: 1;
    margin-bottom: 0.625rem; }
.panelNew.callout h1.subheader, .panelNew.callout h2.subheader, .panelNew.callout h3.subheader, .panelNew.callout h4.subheader, .panelNew.callout h5.subheader, .panelNew.callout h6.subheader {
    line-height: 1.4; }
.panelNew.callout a:not(.button) {
    color: #008CBA; }
.panelNew.callout a:not(.button):hover, .panelNew.callout a:not(.button):focus {
    color: #0078a0; }
.panelNew.radius {
    border-radius: 3px; }

.service-item {
    margin-bottom: 20px;
}

/* Portfolio */

.portfolio {
    padding: 50px 0;
}

.portfolio-item {
    margin-bottom: 30px;
}

.people-overlay {
    position:relative;
    overflow:hidden;
}

.people-inner{
    position:absolute;
    top:0;
    right:0;
    background:rgba(20, 25, 20, 0.5);
    width:100%;
    height:100%;
    padding:5%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}

.img-portfolio {
    margin: 0 auto;
}

.img-portfolio:hover {
    opacity: 0.8;
}

.people-section {
    width: 100%;
    padding: 100px 0;
    color:  #fff;
    background: url(../img/people-bg1.jpg) no-repeat center center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.contact-section{
    width: 100%;
    padding: 100px 0;
    color:  #fff;
    background: url(../img/desk2-bg.jpg) no-repeat center center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#map {
    width: 100%;
    height: 200px;
    margin-top: 100px;
}

@media(min-width:767px) {
    .content-section {
        padding-top: 60px;
        padding-bottom:80px;
    }

    .download-section {
        padding: 250px 0;
    }

    #map {
        height: 400px;
        margin-top: 250px;
    }
}

.btn {
    font-family: "Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",Arial,Helvetica,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid #219ab3;
    color: #219ab3;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #219ab3;
    outline: 0;
    color: #000;
    background-color: #219ab3;
}

ul.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
}

footer p {
    margin: 0;
}

/*::-moz-selection {*/
    /*text-shadow: none;*/
    /*background: #fcfcfc;*/
    /*background: rgba(255,255,255,.2);*/
/*}*/

/*::selection {*/
    /*text-shadow: none;*/
    /*background: #fcfcfc;*/
    /*background: rgba(255,255,255,.2);*/
/*}*/

/*img::selection {*/
    /*background: 0 0;*/
/*}*/

/*img::-moz-selection {*/
    /*background: 0 0;*/
/*}*/

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}