<div class="content-section" id="index" ng-controller="AdminEditController">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                搜索 + 修改
            </div>
            <div class="panel-body">
                <div class="col-sm-8" >
                    <input class="form-control" name="search_user" type="text" placeholder="可使用email开头搜索导师，或学校，专业和用户" ng-model="search.context" />
                </div>
                <button class="btn btn-primary" ng-click="searchTutor()">搜索导师</button>
                <button class="btn btn-default" ng-click="searchSchool()">搜索学校</button>
                <button class="btn btn-danger" ng-click="searchMajor()">搜索专业</button>
                <!--<button class="btn btn-success" ng-click="searchUser()">搜索用户</button>-->
            </div>
            <div id="tutor-table" class="panel-body" ng-show="flags.tutorTable" >
                <table ng-table="tableParams" class="table" >
                    <tr ng-repeat="user in $data track by $index" >
                        <td data-title="'序号'">
                            {{$index+1}}
                        </td>
                        <td data-title="'邮箱'">
                            <span ng-if="!user.$edit">{{user._id}}</span>
                            <div ng-if="user.$edit"><input class="form-control" type="text" ng-model="user.name" /></div>
                        </td>
                        <td data-title="'姓名'" width="200">
                            <span ng-if="!user.$edit">{{user._source.realName}}</span>
                            <div ng-if="user.$edit"><input class="form-control" type="number" ng-model="user.age" /></div>
                        </td>
                        <td data-title="'注册时间'" width="200">
                            <span ng-if="!user.$edit">{{user._source.createdTime}}</span>
                            <div ng-if="user.$edit"><input class="form-control" type="number" ng-model="user.age" /></div>
                        </td>
                        <td data-title="'修改时间'" width="200">
                            <span ng-if="!user.$edit">{{user._source.editedTime}}</span>
                            <div ng-if="user.$edit"><input class="form-control" type="number" ng-model="user.age" /></div>
                        </td>
                        <td data-title="'是否active'" width="100">
                            {{user._source.profileStatus}}
                        </td>
                        <td data-title="'操作'" width="100">
                            <a ng-if="!user.$edit" href="" class="btn btn-default btn-xs" ng-click="editRecord($index, $data)">Edit</a>
                            <!--<a ng-if="!user.$edit" href="" class="btn btn-primary btn-xs" ng-click="user.$edit = true">Save</a>-->
                        </td>
                    </tr>
                </table>
            </div>
            <div id="school-table" class="panel-body" ng-show="flags.schoolTable" >
                <table ng-table="schoolTableParams" class="table" >
                    <tr ng-repeat="school in $data track by $index" >
                        <td data-title="'序号'">
                            {{$index+1}}
                        </td>
                        <td data-title="'中文名称'">
                            <span ng-if="!school.$edit">{{school._source.namecn}}</span>
                            <div ng-if="school.$edit"><input class="form-control" type="text" ng-model="school.name" /></div>
                        </td>
                        <td data-title="'英文名称'" width="200">
                            <span ng-if="!school.$edit">{{school._source.nameen}}</span>
                            <div ng-if="school.$edit"><input class="form-control" type="text" ng-model="school.age" /></div>
                        </td>
                        <td data-title="'所属国家'" width="200">
                            <span ng-if="!school.$edit">{{school._source.country}}</span>
                            <div ng-if="school.$edit"><input class="form-control" type="text" ng-model="school.country" /></div>
                        </td>
                        <td data-title="'注册时间'" width="200">
                            <span ng-if="!school.$edit">{{school._source.createdTime}}</span>
                            <div ng-if="school.$edit"><input class="form-control" ng-model="school.age" /></div>
                        </td>
                        <td data-title="'修改时间'" width="200">
                            <span ng-if="!school.$edit">{{school._source.editedTime}}</span>
                            <div ng-if="school.$edit"><input class="form-control" ng-model="school.age" /></div>
                        </td>
                        <td data-title="'是否active'" width="100">
                            {{school._source.status}}
                        </td>
                        <td data-title="'操作'" width="100">
                            <a ng-if="!school.$edit" href="" class="btn btn-default btn-xs" ng-click="editSchoolRecord($index, $data)">Edit</a>
                            <!--<a ng-if="!school.$edit" href="" class="btn btn-primary btn-xs" ng-click="deleteSchoolRecord($index, $data)">Delete</a>-->
                        </td>
                    </tr>
                </table>
            </div>

            <div id="major-table" class="panel-body" ng-show="flags.majorTable" >
            <table ng-table="majorTableParams" class="table table-condensed table-bordered table-striped" >

                <!--<tr ng-repeat="row in $data">-->
                    <!--<td data-title="'Name'" sortable="'name'">{{row.name}}</td>-->
                    <!--<td data-title="'Age'" sortable="'age'">{{row.age}}</td>-->
                    <!--<td data-title="'Money'">{{row.money}}</td>-->
                <!--</tr>-->
                <!-- -->
                <tr ng-repeat="major in $data track by $index" >
                    <td data-title="'序号'">
                        {{$index+1}}
                    </td>
                    <td data-title="'中文名称'"  sortable="'_id'">
                        {{major._source.namecn}}
                    </td>
                    <td data-title="'英文名称'" width="200"  sortable="'nameen'">
                        {{major._source.nameen}}
                    </td>
                    <td data-title="'领域'" width="200"  sortable="'nameen'">
                        {{major._source.field}}
                    </td>
                    <td data-title="'注册时间'" width="200"  sortable="'createdTime'">
                        {{major._source.createdTime}}
                    </td>
                    <td data-title="'修改时间'" width="200"  sortable="'editedTime'">
                       {{major._source.editedTime}}
                    </td>
                    <td data-title="'是否active'" width="100"  sortable="'editedTime'">
                        {{major._source.status}}
                    </td>
                    <td data-title="'操作'" width="100">
                        <a href="" class="btn btn-default btn-xs" ng-click="editMajorRecord($index, $data)">Edit</a>
                        <!--<a ng-if="!user.$edit" href="" class="btn btn-primary btn-xs" ng-click="user.$edit = true">Save</a>-->
                    </td>
                </tr>
            </table>
        </div>
        <div class="panel panel-default" ng-show="major&&flags.majorTable">
            <div class="panel-body">
                <h2 style="margin: 0 0 10px;">专业资料修改</h2>
                <div class="form-group">
                    <label>专业中文名称</label>
                    <input class="form-control" name="namecn" type="text"
                           placeholder="中文名" ng-model="major.namecn" />
                </div>
                <div class="form-group">
                    <label>专业英文名称</label>
                    <input class="form-control" name="nameen" type="text"
                           placeholder="英文名" ng-model="major.nameen" />
                </div>
                <div class="form-group">
                    <label>专业大类领域(英文,如 Engineering)</label>
                    <ui-select id="majorfield" name="majorfield" ng-model="major.field">
                        <ui-select-match placeholder="主要方向, 如Finance, IT等等">{{$select.selected}}</ui-select-match>
                        <ui-select-choices repeat="field in availableFields | filter: $select.search">
                            <span ng-bind-html="field | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label for="majorSelect">选择Active/Inactive: </label><br>
                    <select name="majorSelect" id="majorSelect" ng-model="major.status">
                        <option value="Active">Active</option>
                        <option value="Inactive">Inactive</option>
                    </select><br>
                </div>
                <button type="button" class="btn btn-primary" ng-click="submitChange('major')">
                    变更
                </button>

                <button type="button" class="btn btn-default" ng-click="resetMajor()">
                    重置
                </button>
            </div>
        </div>

        <div class="panel panel-default" ng-show="school&&flags.schoolTable">
            <div class="panel-body">
                <h2 style="margin: 0 0 10px;">学校资料修改</h2>
                <div class="form-group">
                    <label>学校中文名称</label>
                    <input class="form-control" name="namecn" type="text"
                           placeholder="中文名" ng-model="school.namecn" />
                </div>
                <div class="form-group">
                    <label>学校英文名称</label>
                    <input class="form-control" name="nameen" type="text"
                           placeholder="英文名" ng-model="school.nameen" />
                </div>
                <div class="form-group">
                    <label>学校所在国家(英文)</label>
                    <ui-select id="schoolcountry" name="schoolcountry" ng-model="school.country">
                        <ui-select-match placeholder="国家/区域，英文">{{$select.selected}}</ui-select-match>
                        <ui-select-choices repeat="country in availableCountries | filter: $select.search">
                            <span ng-bind-html="country | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label for="schoolSelect">选择Active/Inactive: </label><br>
                    <select name="schoolSelect" id="schoolSelect" ng-model="school.status">
                        <option value="Active">Active</option>
                        <option value="Inactive">Inactive</option>
                    </select><br>
                </div>
                <button type="button" class="btn btn-primary" ng-click="submitChange('school')">
                    变更
                </button>

                <button type="button" class="btn btn-default" ng-click="resetSchool()">
                    重置
                </button>
            </div>
        </div>

        <div class="panel panel-default" ng-show="tutor&&flags.tutorTable">
            <div class="panel-body">
                <h2 style="margin: 0 0 10px;">导师资料修改</h2>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><b>个人信息</b></h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-6 col-xs-6">

                            <form name="loginForm" novalidate>
                                <br />
                                <div class="form-group">
                                    <label>显示姓名</label>
                                    <input class="form-control" name="username" type="text"
                                           placeholder="英文名，将作为用户名称在平台中显示" ng-model="tutor.userName" />
                                </div>
                                <div class="form-group">
                                    <label>真实姓名</label>
                                    <input class="form-control" name="realname" type="text"
                                           placeholder="有助于身份核实, 不会在平台中显示" ng-model="tutor.realName" />
                                </div>
                                <div class="form-group">
                                    <label for="email">电子邮箱</label>
                                    <input class="form-control" id="email" name="email" type="email"
                                           placeholder="电子邮箱将作为登陆账户, 不能为空!!! 如果是添加新账户，密码与email自动一致" ng-model="tutor.email" />
                                </div>
                                <div class="form-group">
                                    <label for="gender">性别: </label><br>
                                    <select name="gender" id="gender" ng-model="tutor.gender">
                                        <option value="1">男</option>
                                        <option value="0">女</option>
                                    </select><br>
                                </div>
                                <div class="form-group">
                                    <label>微信号/QQ号</label>
                                    <input class="form-control" name="wechat" type="text"
                                           placeholder="有助于沟通联系" ng-model="tutor.wechat" />
                                </div>
                                <div class="form-group">
                                    <label>常用电话</label>
                                    <input class="form-control" name="cellphone" type="text"
                                           placeholder="有助于沟通联系" ng-model="tutor.cellphone" />
                                </div>
                                <div class="form-group">
                                    <label>Skype 号码</label>
                                    <input class="form-control" name="skype" type="text"
                                           placeholder="辅助沟通交流" ng-model="tutor.skype" />
                                </div>
                                <div class="form-group">
                                    <label>LinkedIn/领英 链接</label>
                                    <input class="form-control" name="linkedin" type="text"
                                           placeholder="有助于身份核实，不会在平台中显示" ng-model="tutor.linkedin" />
                                </div>
                                <div class="form-group">
                                    <label>支付宝账号</label>
                                    <input class="form-control" name="alipay" type="text"
                                           placeholder="支付宝账号便于交付,是平台主要支付手段之一" ng-model="tutor.alipay" />
                                </div>

                            </form>

                        </div>
                        <div class="col-sm-6 col-xs-6">
                            <br />
                            <b>头像上传</b>
                            <br />
                            <hr class="soften"/>

                            <input type="file" img-cropper-fileread image="cropper.sourceImage" />
                            <div>
                                <canvas width="500" height="300" id="canvas" image-cropper image="cropper.sourceImage" cropped-image="cropper.croppedImage" crop-width="130" crop-height="130" keep-aspect="true"></canvas>
                            </div>
                            <div>新图片预览:</div>
                            <div ng-show="cropper.croppedImage!=null"><img ng-src="{{cropper.croppedImage}}" /></div>
                            <div id="drawing">
                            </div>
                            <br />
                            <div>已有头像:</div>
                            <div class="col-sm-3 col-md-3">
                                <img ng-src={{tutor.image}} alt="" height="150px" width="150px">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">专业和工作背景</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-6 col-xs-6">
                            <form name="loginForm2" novalidate>
                                <br />
                                <div class="form-group">
                                    <label>留学国家/地区</label>

                                    <ui-select id="studycountry" name="studycountry" ng-model="tutor.studyCountry">
                                        <ui-select-match placeholder="填写留学时最高学历在读或毕业学校所在国家即可">{{$select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="country in availableCountries | filter: $select.search">
                                            <span ng-bind-html="country | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="form-group">
                                    <label for="school">留学在读/毕业院校(最高学位)</label>
                                    <ui-select id="school" name="school" ng-model="tutor.gradSchool" style="font-family: Georgia, Serif;">
                                        <ui-select-match placeholder="选择国外最高学历在读或毕业院校">{{$select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="school in availableSchools | filter: $select.search">
                                            <span ng-bind-html="school | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="form-group">
                                    <label for="degree">留学学位</label>
                                    <ui-select id="degree" name="degree" ng-model="tutor.gradDegree">
                                        <ui-select-match placeholder="获得或在读的最高学位，如Master">{{$select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="degree in availableDegrees | filter: $select.search">
                                            <span ng-bind-html="degree | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="form-group">
                                    <label>留学专业</label>
                                    <ui-select name="major" ng-model="tutor.gradMajor">
                                        <ui-select-match placeholder="选择相关专业">{{$select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="field in availableMajors | filter: $select.search">
                                            <span ng-bind-html="field | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="form-group">
                                    <label>留学学校邮箱</label>
                                    <input class="form-control" name="schoolemail"
                                           placeholder="填写学校邮箱有助于加快身份验证" ng-model="tutor.gradSchoolEmail" />
                                </div>
                                <div class="form-group">
                                    <label>工作国家/地区</label>
                                    <ui-select id="workcountry" name="workcountry" ng-model="tutor.workCountry">
                                        <ui-select-match placeholder="毕业后工作所在国家或地区，在读学生填写学校国家">{{$select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="country in availableCountries | filter: $select.search">
                                            <span ng-bind-html="country | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="form-group">
                                    <label>工作城市</label>
                                    <input class="form-control" type="text"
                                           placeholder="有助于身份核实，不会在平台中显示" ng-model="tutor.workCity" />
                                </div>
                                <div class="form-group">
                                    <label>工作单位</label>
                                    <input class="form-control" name="company" type="text"
                                           placeholder="已经工作的导师可以填写现在的工作单位" ng-model="tutor.company" />
                                </div>
                                <div class="form-group">
                                    <label>工作领域</label>
                                    <ui-select id="workfield" name="workfield" ng-model="tutor.workField">
                                        <ui-select-match placeholder="主要从事的工作方向, 如Finance, IT等等">{{$select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="field in availableFields | filter: $select.search">
                                            <span ng-bind-html="field | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="form-group">
                                    <label>工作职位</label>
                                    <input class="form-control" type="text"
                                           placeholder="" ng-model="tutor.workTitle" />
                                </div>
                                <div class="form-group">
                                    <label>个人简介</label>
                                    <textarea style="height: 150px;" class="form-control" placeholder="请用少于100字介绍自己的学习工作状况, 个人简介会成为别人了解你资料的第一印象。" ng-model="tutor.profile"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="tutorSelect">选择Active/Inactive: </label><br>
                                    <select name="tutorSelect" id="tutorSelect" ng-model="tutor.profileStatus">
                                        <option value="Active">Active</option>
                                        <option value="Inactive">Inactive</option>
                                    </select><br>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-6 col-xs-6">
                            <form name="loginForm3" novalidate>
                                <br />
                                <div class="form-group">
                                    <label for="undergrad">本科在读/毕业院校</label>
                                    <ui-select id="undergrad" name="underSchool" ng-model="tutor.underSchool" style="font-family: Georgia, Serif;">
                                        <ui-select-match placeholder="选择本科在读或毕业院校">{{$select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="school in availableSchools | filter: $select.search">
                                            <span ng-bind-html="school | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="form-group">
                                    <label for="underdegree">本科学位</label>
                                    <ui-select id="underdegree" name="underDegree" ng-model="tutor.underDegree" style="font-family: Georgia, Serif;">
                                        <ui-select-match placeholder="本科获得或在读的学位，如Bachelor">{{$select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="degree in availableDegrees | filter: $select.search">
                                            <span ng-bind-html="degree | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                    <!--<input class="form-control" name="underDegree" type="text"-->
                                    <!--placeholder="本科获得或在读的学位，如B.S." required ng-model="tutor.underDegree" />-->
                                </div>

                                <div class="form-group">
                                    <label>本科专业</label>
                                    <ui-select name="underMajor" ng-model="tutor.underMajor">
                                        <ui-select-match placeholder="选择相关专业">{{$select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="field in availableMajors | filter: $select.search">
                                            <span ng-bind-html="field | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="form-group">
                                    <label>本科国家</label>
                                        <ui-select id="undercountry" name="undercountry" ng-model="tutor.underCountry">
                                            <ui-select-match placeholder="本科就读或毕业的国家">{{$select.selected}}</ui-select-match>
                                            <ui-select-choices repeat="country in availableCountries | filter: $select.search">
                                                <span ng-bind-html="country | highlight: $select.search"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                </div>

                                <div class="form-group">
                                    <label for="undergrad">硕士毕业院校(选填,如果最高学位为博士)</label>
                                    <ui-select id="undergrad" name="underSchool" ng-model="tutor.advancedSchool" style="font-family: Georgia, Serif;">
                                        <ui-select-match placeholder="选择本科在读或毕业院校">{{$select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="school in availableSchools | filter: $select.search">
                                            <span ng-bind-html="school | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="form-group">
                                    <label for="underdegree">硕士学位(选填)</label>
                                    <ui-select id="underdegree" name="underDegree" ng-model="tutor.advancedDegree" style="font-family: Georgia, Serif;">
                                        <ui-select-match placeholder="本科获得或在读的学位，如Bachelor">{{$select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="degree in availableDegrees | filter: $select.search">
                                            <span ng-bind-html="degree | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                    <!--<input class="form-control" name="underDegree" type="text"-->
                                    <!--placeholder="本科获得或在读的学位，如B.S." required ng-model="tutor.underDegree" />-->
                                </div>

                                <div class="form-group">
                                    <label>硕士专业(选填)</label>
                                    <ui-select name="underMajor" ng-model="tutor.advancedMajor">
                                        <ui-select-match placeholder="选择相关专业">{{$select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="field in availableMajors | filter: $select.search">
                                            <span ng-bind-html="field | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="form-group">
                                    <label>硕士学校所在国家(选填)</label>
                                    <ui-select id="undercountry" name="undercountry" ng-model="tutor.advancedCountry">
                                        <ui-select-match placeholder="本科就读或毕业的国家">{{$select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="country in availableCountries | filter: $select.search">
                                            <span ng-bind-html="country | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="form-group">
                                    <label for="tutorSelect">选择 学生/导师: </label><br>
                                    <select name="tutorSelect" id="tutorSelect" ng-model="tutor.registerAs">
                                        <option value="Tutor">导师</option>
                                        <option value="Student">学生</option>
                                    </select><br>
                                </div>
                                <div class="form-group">
                                    <label for="tutorSelect">导师总分数: </label><br>
                                    <select name="tutorSelect" id="tutorSelect" ng-model="tutor.stars">
                                        <option value="5">5</option>
                                        <option value="4">4</option>
                                        <option value="3">3</option>
                                        <option value="2">2</option>
                                        <option value="1">1</option>
                                    </select><br>
                                </div>

                            </form>
                        </div>
                    </div>

                </div>

                <button type="button" class="btn btn-success" ng-click="submitPhoto()">
                    上传头像
                </button>
                <button type="button" class="btn btn-primary" ng-click="submitApply()">
                    变更
                </button>

                <button type="button" class="btn btn-default" ng-click="reset()">
                    重置
                </button>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                添加
            </div>
            <div class="panel-body">
                <button class="btn btn-primary" ng-click="addNew('tutor')">添加导师</button>
                <button class="btn btn-default" ng-click="addNew('school')">添加学校</button>
                <button class="btn btn-danger" ng-click="addNew('major')">添加专业</button>
                <!--<button class="btn btn-success" ng-click="addNew()">添加用户</button>-->
            </div>
            <div class="panel-body">

            </div>
        </div>

        </div>
    </div>
</div>