<div class="content-section" id="index">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-xs-12 " >
                <div class="row row-gap-medium ng-scope">
                    <!-- ngView:  -->
                    <div>
                        <div class="form-box ng-scope" style="padding:0 35px 35px 35px; border-right: 1px solid #E0E0E0;  margin-right: 0;">
                            <div data-ng-show="showTopBox" class="row form-box ng-hide" style="padding:25px 0 25px 0; border-width:0 0 1px 0">
                                <div class="col-xs-12">
                                    <span>需要注册DG账户才能进入社区。</span>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-body">
                            <h2 style="color: #307699; line-height: 1.6;">登陆</h2>

                            <form class="form-horizontal ng-pristine ng-valid" role="form" data-ng-submit="signInEmail()">
                                <!--<div class="row ng-hide" data-ng-show="fieldErrors || errorMessage">-->
                                <!--<div class="col-xs-12 alert alert-danger">-->
                                <!--<p data-ng-bind-html="errorMessage" class="ng-binding"></p>-->
                                <!--<ul>-->
                                <!--&lt;!&ndash; ngRepeat: (field, error) in fieldErrors &ndash;&gt;-->
                                <!--</ul>-->
                                <!--</div>-->
                                <!--</div>-->
                                <div class="row">
                                    <div class="col-sm-10 col-xs-10">
                                        <div>
                                            <!--<div data-ng-class="{'has-error': contactInfoErrors.setsEmail}">-->
                                            <label for="email">邮箱/手机号</label>
                                            <div style="clear:both"></div>
                                            <input type="email" class="form-control pull-left ng-pristine ng-valid ng-valid-email" id="email" placeholder="邮箱或手机号" data-ng-model="email">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-10 col-xs-10">
                                        <!--<div data-ng-class="{'has-error': contactInfoErrors.setsPassword}">-->
                                        <div>
                                            <label for="password">密码</label>
                                            <div style="clear:both"></div>
                                            <input type="password" class="form-control pull-left ng-pristine ng-valid" id="password" placeholder="密码" data-ng-model="password">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12">
                                        <a href="#!/request-password-reset"><small>忘记密码?</small></a>
                                    </div>
                                </div>

                                <div class="row row-gap-medium">
                                    <div class="col-sm-5 col-xs-8">
                                        <button type="submit" class="btn btn-block btn-primary" data-ng-disabled="buttonDisabled">登陆</button>
                                    </div>
                                </div>
                            </form>
                                </div></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="row row-gap-medium ng-scope">
                    <!-- ngView:  -->
                    <div>
                        <div class="form-box ng-scope" style="padding:0 35px 35px 35px; ">
                            <div class="row form-box ng-hide" style="padding:25px 0 25px 0; border-width:0 0 1px 0">
                                <div class="col-xs-12">
                                    <span>You will need a Udacity account to continue</span>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-body">
                            <h2 style="color: #307699; line-height: 1.6;">学生注册</h2>

                            <form class="form-horizontal ng-pristine ng-valid" role="form" data-ng-submit="signInEmail()">
                                <div class="row ng-hide" data-ng-show="fieldErrors || errorMessage">
                                    <div class="col-xs-12 alert alert-danger">
                                        <!--<p data-ng-bind-html="errorMessage" class="ng-binding"></p>-->
                                        <ul>
                                            <!-- ngRepeat: (field, error) in fieldErrors -->
                                        </ul>
                                    </div>
                                </div>
                                <div class="row onboarding-form-group">
                                    <div>
                                        <div>
                                            <!--data-ng-class="{'has-error': contactInfoErrors.setsEmail}">-->
                                            <div class="col-sm-8 col-xs-8">
                                            <label for="email">手机号注册</label>
                                                </div>
                                            <div style="clear:both"></div>
                                            <div class="col-sm-8 col-xs-8">
                                            <input type="email" class="form-control pull-left ng-pristine ng-valid ng-valid-email" id="email" placeholder="+86" data-ng-model="email">
                                            </div>
                                            <div class="col-sm-4 col-xs-4">
                                                <button type="submit" class="btn btn-block btn-success" data-ng-disabled="buttonDisabled">发送验证码</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row onboarding-form-group">
                                    <div class="col-sm-10 col-xs-10">
                                        <div>
                                                <!--data-ng-class="{'has-error': contactInfoErrors.setsEmail}">-->
                                            <label for="email">手机验证码</label>
                                            <div style="clear:both"></div>
                                            <input type="email" class="form-control pull-left ng-pristine ng-valid ng-valid-email" id="email" placeholder="请输入接收到的验证码" data-ng-model="email">
                                        </div>
                                    </div>
                                </div>
                                <div class="row onboarding-form-group">
                                    <div class="col-sm-10 col-xs-10">
                                        <div>
                                                <!--data-ng-class="{'has-error': contactInfoErrors.setsPassword}">-->
                                            <label for="password">密码</label>
                                            <div style="clear:both"></div>
                                            <input type="password" class="form-control pull-left ng-pristine ng-valid" id="password" placeholder="请输入密码" data-ng-model="password">
                                        </div>
                                    </div>
                                </div>

                                <div class="row row-gap-medium">
                                    <div class="col-sm-5 col-xs-8">
                                        <button type="submit" class="btn btn-block btn-primary" data-ng-disabled="buttonDisabled">注册账户</button>
                                    </div>
                                </div>
                            </form>
                            </div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>