<!--<link rel="stylesheet" href="/styles/foundation/foundation.min.css">-->
<div class="content-section" id="index" ng-controller="ViewTutorProfileController">
    <div class="container">
        <div class="panel">
            <h3>{{}}</h3>
            <p>{{thisTutor.userName}}, {{thisTutor.profile}}</p>
        </div>
        <div class="col-sm-8">
            <div class="col-sm-3 col-md-3" style="margin-top: 5px;">
                <div>
                    <img ng-src={{thisTutor.image}} alt="" height="110px" width="110px">
                </div>
            </div>
            <div class="col-sm-9 col-xs-9">
                <p>本科信息: <a>{{thisTutor.underSchool}}</a>   {{thisTutor.underDegree}}   {{thisTutor.underMajor}}</p>
                <p>留学背景: <a>{{thisTutor.gradSchool}}</a>, {{thisTutor.gradDegree}}, {{thisTutor.gradMajor}}</p>
                <p>工作背景: {{thisTutor.company}} {{thisTutor.workCountry}}</p>
            </div>
        </div>
        <div class="panelNew col-sm-4">
            <button class="col-sm-8 col-sm-offset-2 btn btn-primary">预约导师</button>
            <br />
            <br />
            <button class="col-sm-8 col-sm-offset-2 btn btn-success">查看评价(条)</button>

            <br />
            <br />

            <p>预约费用为￥60元/30分钟</p>
        </div>



    </div>
</div>