<div class="content-section" id="index" ng-controller="InputController">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2 style="margin: 0 0 10px;">填写你的个人背景</h2>
                <!--<div class="alert alert-warning alert-dismissible" role="alert">-->
                    <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                    <!--<strong></strong> 我们将对个人信息进行保密 ( <a>隐私政策</a> ), 完成填写及提交后平台会及时与你联系。-->
                <!--</div>-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><b>以下信息均为到申请时间时预计可以获得的结果</b></h3>
                    </div>
                    <div class="panel-body">
                        <form name="inputForm" novalidate>
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group" ng-class="{'has-error': inputForm.undergradSchool.$invalid}">
                                    <label for="undergradSchool">本科院校</label>
                                    <ui-select name="undergradSchool" id="undergradSchool" ng-model="input.undergradSchool" style="font-family: Georgia, Serif;" required>
                                        <ui-select-match placeholder="本科学校">{{$select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="undergradSchool in undergradSchools | filter: $select.search">
                                            <span ng-bind-html="undergradSchool | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="form-group" ng-class="{'has-error': inputForm.applyDegree.$invalid}">
                                    <label>申请学位</label>
                                    <ui-select name="applyDegree" ng-model="input.applyDegree" style="font-family: Georgia, Serif;" required>
                                        <ui-select-match placeholder="选择学位">{{$select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="degree in applyDegrees | filter: $select.search">
                                            <span ng-bind-html="degree | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="form-group" ng-class="{'has-error': inputForm.applyMajor.$invalid}">
                                    <label>申请专业</label>
                                    <ui-select id="applyMajor" name="applyMajor" ng-model="input.applyMajor" style="font-family: Georgia, Serif;" required>
                                        <ui-select-match placeholder="选择专业">{{$select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="major in applyMajors | filter: $select.search">
                                            <span ng-bind-html="major | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="form-group" ng-class="{'has-error': inputForm.internship.$invalid}">
                                    <label>校内外实习次数</label>
                                    <input class="form-control" id="internship" name="internship" type="number" min="0"
                                           placeholder="获得的实习次数" required ng-model="input.internship" />
                                </div>
                                <div class="form-group" ng-class="{'has-error': inputForm.fulltime.$invalid}">
                                    <label>相关领域工作时间</label>
                                    <input class="form-control" id="fulltime" name="fulltime" type="number" min="0"
                                           placeholder="全职工作时间, 单位:年" required ng-model="input.fulltime" />
                                </div>
                            </div>

                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group" ng-class="{'has-error': inputForm.gpa.$invalid}">
                                    <label>GPA(4.0为满绩点)</label>
                                    <input class="form-control" id="gpa" name="gpa" type="number" max="4" min="1"
                                           placeholder="综合GPA, 如3.2" required ng-model="input.gpa" />
                                </div>
                                <div class="form-group" ng-class="{'has-error': inputForm.toefl.$invalid}">
                                    <label>TOFEL(满分120分)</label>
                                    <input class="form-control" id="toefl" name="toefl" type="number" max="120" min="5"
                                           placeholder="雅思转换成托福分数" required ng-model="input.toefl" />
                                </div>
                                <div class="form-group" ng-class="{'has-error': inputForm.gre.$invalid}">
                                    <label>GRE/GMAT</label>
                                    <input class="form-control" name="gre" type="number" min="0"
                                           placeholder="填写325或740" required ng-model="input.gre" />
                                </div>
                                <div class="form-group" ng-class="{'has-error': inputForm.publication.$invalid}">
                                    <label>论文发表数量</label>
                                    <input class="form-control" id="publication" name="publication" type="number" min="0"
                                           placeholder="必须在正式出版物上发表" required ng-model="input.publication" />
                                </div>
                                <div class="form-group" ng-class="{'has-error': inputForm.patent.$invalid}">
                                    <label>专利数量</label>
                                    <input class="form-control" id="patent" name="patent" type="number" min="0"
                                           placeholder="已经正式申报的专利" required ng-model="input.patent" />
                                </div>
                            </div>
                        </form>

                    </div>
                </div>

                <button type="button" class="btn btn-success" ng-disabled="inputForm.$invalid" ng-click="submitApply()">
                    提交查询
                </button>

                <button type="button" class="btn btn-default" ng-click="reset()">
                    重置信息
                </button>

                <button type="button" class="btn btn-info" ng-show="!flags.showPercentage" ng-click="showPercentage()">
                    打开附加显示
                </button>
                <button type="button" class="btn btn-info" ng-show="flags.showPercentage" ng-click="showPercentage()">
                    关闭附加显示
                </button>

                <br />
                <div id="applicationList" ></div>
                <br />

                <div class="panel panel-default" ng-show="flags.applicationList">
                    <div class="panel-body">
                    <div class="col-sm-6 col-xs-12">
                        <h4>冲刺学校</h4>
                        <div ng-repeat="school in applicationList.top track by $index">
                            <a ng-click="showSchool(school)">{{school}}</a>
                        </div>
                    </div>
                    <div class="col-sm-6 hidden-xs">
                        <br/>
                        冲刺学校一般指录取几率很低或者对某一项指标有特殊要求的学校，建议在选校名单中有20%左右的冲刺学校，包括dream schools.
                    </div>
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-6 col-xs-12">
                            <h4>合适学校</h4>
                            <div ng-repeat="school in applicationList.reality">
                                <a ng-click="showSchool(school)">{{school}}</a>
                            </div>
                        </div>
                        <div class="col-sm-6 hidden-xs">
                            <br/>
                            合适的学校在是申请者很大几率申到并且最后会去的学校，一般占选校名单60%左右的份额.
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-6 col-xs-12">
                        <h4>保底学校</h4>
                        <div ng-repeat="school in applicationList.backup">
                            <a ng-click="showSchool(school)">{{school}}</a>
                        </div>
                    </div>
                        <div class="col-sm-6 hidden-xs">
                            <br/>
                            保底学校是一定要选的，大概占名单中20-30的份额%
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" ng-show="flags.showPercentage">
                    <div class="panel-body">
                        <h4>根据你的情况生成的相对百分比:</h4>
                        <div ng-repeat="obj in results">
                            {{obj.name}} : {{obj.prediction}}%
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="school" class="panel panel-default" ng-show="school.show">
            <div class="panel-heading">
                <h3 class="panel-title"><b>{{school.name}}-{{input.applyMajor}}专业</b></h3>
            </div>
            <div class="panel-body">
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    通过扫描barcode，平台将推送这些申请信息到你的微信。
                    <button class="btn btn-info pull-right btn-sm" popover-placement="bottom" popover-title="Dreamguide" popover-html-unsafe="{{barcode.web}}">
                    生成barcode
                    </button>

                </div>
                <div class="col-sm-8 col-xs-12">

                    <h4>学校申请统计结果:</h4>
                    <div>历史录取率 38%, &nbsp;&nbsp; 平均录取GPA 3.35, &nbsp;&nbsp; 平均录取GMAT 660</div>

                    <br/>
                    <br/>

                    <!--<canvas class="chart chart-radar"-->
                            <!--data="chart.data"-->
                            <!--labels="chart.labels">-->
                    <!--</canvas>-->

                    <tabs>
                        <pane title="项目录取率">
                            <canvas id="line_rate" class="chart chart-line" chart-data="line.acceptRate.data"
                                    chart-labels="line.acceptRate.labels" chart-legend="true" chart-series="line.acceptRate.series">
                            </canvas>
                        </pane>
                        <pane title="录取者平均GPA">
                            <canvas id="line_GPA" class="chart chart-line" chart-data="line.averageGpa.data"
                                    chart-labels="line.averageGpa.labels" chart-legend="true" chart-series="line.averageGpa.series"
                                    chart-click="onClick" >
                            </canvas>
                        </pane>
                        <pane title="平均GMAT">
                            <canvas id="line_GMAT" class="chart chart-line" chart-data="line.averageGMAT.data"
                                    chart-labels="line.averageGMAT.labels" chart-legend="true" chart-series="line.averageGMAT.series"
                                    chart-click="onClick" >
                            </canvas>
                        </pane>
                        <pane title="平均托福成绩">
                            <canvas id="line_TOEFL" class="chart chart-line" chart-data="line.averageTOEFL.data"
                                    chart-labels="line.averageTOEFL.labels" chart-legend="true" chart-series="line.averageTOEFL.series"
                                    chart-click="onClick" >
                            </canvas>
                        </pane>
                    </tabs>

                    <h4>重要申请信息</h4>
                    <div>
                        <a href="http://finance.tulane.edu/description.php">点击查看英文主页</a>
                    </div>
                    <div>
                        截止时间: 秋季申请(12月31日)&nbsp;&nbsp;
                    </div>
                    <div>
                        Checklist: 英文主题写作&nbsp;&nbsp;
                    </div>
                    <div>
                        送分代码: 7308&nbsp;&nbsp;
                    </div>
                    <div>
                        特殊要求: 背景过好的申请者有一定几率overqualify被拒绝
                    </div>
                    <div>
                        <a>CSSA论坛链接</a>
                    </div>
                    <br/>
                    <br/>

                    <h4>导师匹配</h4>

                    <br/>
                    <br/>

                </div>
                <div class="col-sm-4 col-xs-12">
                    <h4>根据你的情况:</h4>
                    <div>申请成功率: {{school.percentage}}%</div>

                    <br/>
                    <h4>简单的硬件提升后:</h4>
                    <div>
                        提高5分托福成绩: {{school.toeflPercentage}}%
                        <br />
                        提高5分GRE/10分GMAT: {{school.grePercentage}}%
                        <br/>
                        提高0.1分GPA: {{school.gpaPercentage}}%
                    </div>

                    <button class="btn btn-primary">查看详细分析</button>

                    <br/>
                    <br />
                    <div>
                        平台已经匹配出与你申请背景类似的导师，获得个性提升方案不妨跟他们联系！
                    </div>
                    <button class="btn btn-danger">获得导师列表</button>
                    <br />
                    <br />

                    <div>
                        学校/项目详细情况
                    </div>
                    <button class="btn btn-info">查看项目信息</button>

                    <br />
                    <br />
                    <button class="btn btn-success">
                        显示学生评价
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
