<div class="content-section" id="index" ng-controller="InputController">
    <script type="text/ng-template" id="tutorListModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">相似情况的导师列表</h3>
        </div>
        <div class="modal-body">
            <div class="row" style="padding-top:15px;">
                <div class="col-sm-12 col-xs-12" style="text-align: center">
                    <div ng-repeat="person in Info.tutorList track by $index">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-6 col-sm-2 col-md-2" style="margin-top: 5px;">
                                        <img ng-src={{person.image}} class="img-rounded" alt="" height="110" width="110">
                                    </div>
                                    <div class="col-xs-6 col-sm-2 col-md-2 col-sm-push-8">
                                        <br />
                                        <button class="btn btn-primary" ng-click="openInfoPage($index)">主页</button>
                                        <!--"makeAppointment($index)"-->
                                    </div>
                                    <div class="col-xs-12 col-sm-7 col-md-7 col-md-offset-1 col-sm-pull-2" style="padding-left: 30px;">
                                        <div class="caption">
                                            <b>{{person.name}}</b>
                                            <br />
                                            <br />
                                            {{person.school}}
                                            <br />
                                            {{person.degree}}
                                            <br />
                                            {{person.major}}
                                            <!--{{person.country}}-->
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row pull-left col-xs-8">
                *如有疑问欢迎邮件问询。
            </div>
            <!--<button class="btn btn-primary" type="button" ng-click="ok()">确认</button>-->
            <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
        </div>
    </script>
    <script type="text/ng-template" id="majorInfoModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">学校 & 项目概况</h3>
        </div>
        <div class="modal-body">
            <div class="row" style="padding-top:15px;">
                <div class="col-sm-12 col-xs-12" style="text-align: center">
                    <img ng-src="image/schools/tuluanUniversity.jpg" class="img-rounded" alt="">
                    <p>杜兰大学金融硕士项目在新奥尔良和休斯敦校区均有开设，休斯敦校区每年1月开学，周末上课，18个月完成。
                        中国大陆学生一般申请的是新奥尔良的全日制金融硕士项目,11个月完成，共34个学分。
                        </p>
                    <p>
                        杜兰大学金融硕士专业项目优势：
                        实践教学：通过分析案例、完成项目和建立金融模型来体验现实世界的金融。
                        此外，金融通讯课程、编写项目、财务分析展示等课程也加强了学生的沟通技能。
                        与CFA合作：以CFA考试为导向，项目课程涵盖了部分CFA考试的重要知识。
                        学校提供奖学金来帮助学生降低CFA一级考试成本，开展和CFA考试中道德知识相关的研讨会，免费的CFA一级考试在线测评，
                        CFA协会为学生提供各种金融市场消息和分析数据反馈。
                    <p>杜兰大学金融硕士专业课程设置：核心课程主要集中在夏季学期和秋季学期。
                        夏季学期主要学校财务会计和财务管理课程，奠定基础。
                        秋季学期主要学习投资、定价和收益分析等核心知识。
                        此外，还有一门核心课程在次年春季学期开设。
                        选修课程主要集中在春季学期，提供能源、银行与金融服务两个分支。
                        学生可以根据自己兴趣选择能源、投资银行、资产管理或房地产课程。
                        除了股票分析、估计、固定收益分析、衍生物、风险管理等基础课程的学习之外，项目还提供一些课堂实践机会，
                        如达尔文芬纳学生管理基金、弗里曼股票分析报告项目、彭博实验室等。
                        </p>
                    <p>
                        课程详情：共34个学分，其中必修课为25学分，选修课9学分，分成3个学期读完。其中：
                        夏季课程6个学分：企业金融 3学分，财务报告I 3学分，金融通信 3学分，职业生涯管理 0学分。
                        秋季课程16个学分：金融通信 3学分，固定收益分析 3学分，财务报告II 3学分，投资与资产定价 3学分， 估价 3学分。
                        春季课程12个学分：股票分析 3学分，金融机构风险管理与应用 3学分 或者 能源公司风险管理与应用 3学分， 两门选修课各3学分，评估项目学习 0学分。
                        该项目不接受其他学校的转学分，不接受延期入学。
                    </p>
                    <p>
                        杜兰大学金融硕士专业学费：
                        每学分$1505的学费加$100的杂费，也就是每学分1558美元。完成该项目的所有学费是$54,570。
                        截止日期：2016.5.1
                        </p>
                    <p>
                        杜兰大学金融硕士专业实习&就业：
                        毕业生就业领域广泛，包括公司金融、股票、定息债券、金融衍生品、资产管理、杠杆融资、对冲基金、风险投资、私募股本、私人银行、金融咨询、公共财政、大型企业的金融财政部门。
                        学院有独立的弗里曼就业指导中心，在就业方面给学生以指导。最为著名的是“Freeman Days(弗里曼日)”，它是一个巨大的招聘网络，通过建立纽约、芝加哥、休斯顿和新奥尔良之间的联系网，使学生能够到世界最大的金融市场参加相关活动。
                    </p>
                    <p> 杜兰大学金融硕士专业申请总结：
                        杜兰大学金融硕士(Master of Finance，缩写：M.Fin)项目要求申请者拥有正规大学颁发的学士学位，
                        且有很强的数学能力，面试为受邀面试，可电话或视频面试，并非所有申请者必须面试。</p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row pull-left col-xs-8">
                *如有疑问欢迎邮件问询。
            </div>
            <!--<button class="btn btn-primary" type="button" ng-click="ok()">确认</button>-->
            <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
        </div>
    </script>
    <script type="text/ng-template" id="reviewsModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">学校 & 项目评价</h3>
        </div>
        <div class="modal-body">
            <div class="row" style="padding-top:15px;">
                <div class="col-sm-12 col-xs-12" style="text-align: center">
                    <!--<div><uib-rating ng-model="x" max="15" state-on="'glyphicon-ok-sign'" state-off="'glyphicon-ok-circle'" aria-labelledby="custom-icons-1"></uib-rating> <b>(<i>Rate:</i> {{x}})</b></div>-->
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row pull-left col-xs-8">
                *如有疑问欢迎邮件问询。
            </div>
            <!--<button class="btn btn-primary" type="button" ng-click="ok()">确认</button>-->
            <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
        </div>
    </script>
    <script type="text/ng-template" id="applicationModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">申请者自身条件分析</h3>
        </div>

        <div class="modal-body">
            <div class="row" style="padding-top:15px;">
                <div class="col-sm-8 col-xs-12" style="text-align: center">
                    <h4>背景评估</h4>
                    <canvas class="chart chart-radar"
                            height="220px"
                            data="chart.application.data"
                            labels="chart.application.labels"
                            chart-series="chart.application.series">
                    </canvas>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <h4>提升策略</h4>
                    <tabs>
                        <pane title="6个月">
                            <br/>
                            <ul>
                                <li>托福重新考试, 由于时间关系并且托福成绩的提高能从概率角度上最大程度提高申请的成功率，及时重考托福并拿到+5的分数。</li>
                                <li>注重推荐信和PS, 推荐信中注重对于申请专业背景的认证, PS中进一步注重体现语言能力，以弥补托福成绩一般的情况。</li>
                                <li>提升简历中语言能力的展示, 个人经历重精不重多, 欢迎使用<a>Dreamguide的简历工具</a>。</li>
                                <li>调整GPA算法, 体现专业能力。欢迎使用<a>Dreamguide GPA 算法工具。</a></li>
                            </ul>
                        </pane>
                        <pane title="12个月">
                            <br/>
                            <ul>
                                <li>重新考GRE/GMAT, 因为需要一定时间的准备并且此时应对GPA的调整已经来不及了, GRE/GMAT成绩也是语言能力的很好表现。</li>
                                <li>重新考托福, 可以重考1-2次，确保成绩提高5分以上。</li>
                                <li>争取进行实习和paper的发表, 这两者在可能的状况下都要争取, 为以后提升简历和PS做准备。</li>
                            </ul>
                        </pane>
                        <pane title="18个月">
                            <br/>
                            <ul>
                                <li>提升本学期专业课成绩, GPA一定是最难但非常增加竞争力的条件, 尤其在申请者学校不是特别突出的情况下。最好到3.8, 3.5也很有竞争力。</li>
                                <li>重新考GRE/GMAT, 确保到达50%以上的分数</li>
                                <li>争取进行实习和paper的发表, 准备并进行, 确保一次实习经历。</li>
                            </ul>
                        </pane>
                    </tabs>
                </div>
            </div>
            <div class="row" style="padding-top:15px;">
                <div class="col-sm-8 col-xs-12" style="text-align: center">
                    <h4>专业构成</h4>
                    <canvas class="chart-base" chart-type="chart.major.type"
                            height="220px"
                            data="chart.major.data"
                            labels="chart.major.labels"
                            chart-legend="true"
                            chart-series="chart.major.series">
                    </canvas>
                    <button class="btn btn-primary" ng-click="chart.major.toggle()">改变图结构</button>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <h4>专业申请策略</h4>
                    <div>
                        专业录取构成决定了，文书/简历/特点准备的方向。
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row pull-left col-xs-8">
                *平台会根据现有数据进行的资料生成，如有疑问欢迎邮件问询。
            </div>
            <!--<button class="btn btn-primary" type="button" ng-click="ok()">确认</button>-->
            <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
        </div>
    </script>

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2 style="margin: 0 0 10px;">填写你的个人背景</h2>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><b>以下信息均为到申请时间时预计可以获得的结果</b></h3>
                    </div>
                    <div class="panel-body">
                        <form name="inputForm" novalidate>
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group" ng-class="{'has-error': inputForm.undergradSchool.$invalid}">
                                    <label for="undergradSchool">本科院校</label>
                                    <ui-select name="undergradSchool" id="undergradSchool" ng-model="input.undergradSchool" style="font-family: Georgia, Serif;" required>
                                        <ui-select-match placeholder="本科学校">{{$select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="undergradSchool in undergradSchools | filter: $select.search">
                                            <span ng-bind-html="undergradSchool | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="form-group" ng-class="{'has-error': inputForm.applyDegree.$invalid}">
                                    <label>申请学位</label>
                                    <ui-select name="applyDegree" ng-model="input.applyDegree" style="font-family: Georgia, Serif;" required>
                                        <ui-select-match placeholder="选择学位">{{$select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="degree in applyDegrees | filter: $select.search">
                                            <span ng-bind-html="degree | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="form-group" ng-class="{'has-error': inputForm.applyMajor.$invalid}">
                                    <label>申请专业</label>
                                    <ui-select id="applyMajor" name="applyMajor" ng-model="input.applyMajor" style="font-family: Georgia, Serif;" required>
                                        <ui-select-match placeholder="选择专业">{{$select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="major in applyMajors | filter: $select.search">
                                            <span ng-bind-html="major | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="form-group" ng-class="{'has-error': inputForm.internship.$invalid}">
                                    <label>校内外实习次数</label>
                                    <input class="form-control" id="internship" name="internship" type="number" min="0"
                                           placeholder="获得的实习次数" required ng-model="input.internship" />
                                </div>
                                <div class="form-group" ng-class="{'has-error': inputForm.fulltime.$invalid}">
                                    <label>相关领域工作时间</label>
                                    <input class="form-control" id="fulltime" name="fulltime" type="number" min="0"
                                           placeholder="全职工作时间, 单位:年" required ng-model="input.fulltime" />
                                </div>
                            </div>

                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group" ng-class="{'has-error': inputForm.gpa.$invalid}">
                                    <label>GPA(4.0为满绩点)</label>
                                    <input class="form-control" id="gpa" name="gpa" type="number" max="4" min="1"
                                           placeholder="综合GPA, 如3.2" required ng-model="input.gpa" />
                                </div>
                                <div class="form-group" ng-class="{'has-error': inputForm.toefl.$invalid}">
                                    <label>TOFEL(满分120分)</label>
                                    <input class="form-control" id="toefl" name="toefl" type="number" max="120" min="5"
                                           placeholder="雅思转换成托福分数" required ng-model="input.toefl" />
                                </div>
                                <div class="form-group" ng-class="{'has-error': inputForm.gre.$invalid}">
                                    <label>GRE/GMAT</label>
                                    <input class="form-control" name="gre" type="number" min="0"
                                           placeholder="填写325或740" required ng-model="input.gre" />
                                </div>
                                <div class="form-group" ng-class="{'has-error': inputForm.publication.$invalid}">
                                    <label>论文发表数量</label>
                                    <input class="form-control" id="publication" name="publication" type="number" min="0"
                                           placeholder="必须在正式出版物上发表" required ng-model="input.publication" />
                                </div>
                                <div class="form-group" ng-class="{'has-error': inputForm.patent.$invalid}">
                                    <label>专利数量</label>
                                    <input class="form-control" id="patent" name="patent" type="number" min="0"
                                           placeholder="已经正式申报的专利" required ng-model="input.patent" />
                                </div>
                            </div>
                        </form>

                    </div>
                </div>

                <button type="button" class="btn btn-success" ng-disabled="inputForm.$invalid" ng-click="submitApply()">
                    提交查询
                </button>

                <button type="button" class="btn btn-default" ng-click="reset()">
                    重置信息
                </button>

                <button type="button" class="btn btn-info" ng-show="!flags.showPercentage" ng-click="showPercentage()">
                    打开附加显示
                </button>
                <button type="button" class="btn btn-info" ng-show="flags.showPercentage" ng-click="showPercentage()">
                    关闭附加显示
                </button>

                <br />
                <div id="applicationList" ></div>
                <br />

                <div class="panel panel-default" ng-show="flags.applicationList">
                    <div class="panel-body">
                        <div class="col-sm-6 col-xs-12">
                            <h4>冲刺学校</h4>
                            <div ng-repeat="school in applicationList.top track by $index">
                                <a ng-click="showSchool(school)">{{school}}</a>
                            </div>
                        </div>
                        <div class="col-sm-6 hidden-xs">
                            <br/>
                            冲刺学校一般指录取几率很低或者对某一项指标有特殊要求的学校，建议在选校名单中有20%左右的冲刺学校，包括dream schools.
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-6 col-xs-12">
                            <h4>合适学校</h4>
                            <div ng-repeat="school in applicationList.reality">
                                <a ng-click="showSchool(school)">{{school}}</a>
                            </div>
                        </div>
                        <div class="col-sm-6 hidden-xs">
                            <br/>
                            合适的学校在是申请者很大几率申到并且最后会去的学校，一般占选校名单60%左右的份额.
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-6 col-xs-12">
                            <h4>保底学校</h4>
                            <div ng-repeat="school in applicationList.backup">
                                <a ng-click="showSchool(school)">{{school}}</a>
                            </div>
                        </div>
                        <div class="col-sm-6 hidden-xs">
                            <br/>
                            保底学校在某些申请年份中会成为申请最后的救命稻草，大概占名单中20-30的份额%
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" ng-show="flags.showPercentage">
                    <div class="panel-body">
                        <h4>根据申请者的情况生成的相对百分比:</h4>
                        <div ng-repeat="obj in results">
                            {{obj.name}} : {{obj.prediction}}%
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="school" class="panel panel-default" ng-show="school.show">
            <div class="panel-heading">
                <h3 class="panel-title"><b>{{school.name}}-{{input.applyMajor}}专业</b></h3>
            </div>
            <div class="panel-body">
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <button class="btn btn-info btn-sm" popover-placement="bottom" popover-title="Dreamguide" popover-html-unsafe="{{barcode.web}}">
                        生成barcode
                    </button>
                    通过扫描barcode，平台将推送这些申请信息到微信。

                </div>
                <div class="col-sm-8 col-xs-12">

                    <h4>学校申请统计结果:</h4>
                    <div>历史录取率 38%, &nbsp;&nbsp; 平均录取GPA 3.35, &nbsp;&nbsp; 平均录取GMAT 680</div>

                    <br/>
                    <br/>
                    <tabs>
                        <pane title="项目录取率">
                            <canvas id="line_rate" class="chart chart-line" chart-data="line.acceptRate.data" height="160px"
                                    chart-labels="line.acceptRate.labels" chart-legend="true" chart-series="line.acceptRate.series">
                            </canvas>
                        </pane>
                        <pane title="平均GPA">
                            <canvas id="line_GPA" class="chart chart-line" chart-data="line.averageGpa.data" height="160px"
                                    chart-labels="line.averageGpa.labels" chart-legend="true" chart-series="line.averageGpa.series"
                                    chart-click="onClick" >
                            </canvas>
                        </pane>
                        <pane title="平均GMAT">
                            <canvas id="line_GMAT" class="chart chart-line" chart-data="line.averageGMAT.data" height="160px"
                                    chart-labels="line.averageGMAT.labels" chart-legend="true" chart-series="line.averageGMAT.series"
                                    chart-click="onClick" >
                            </canvas>
                        </pane>
                        <pane title="平均托福">
                            <canvas id="line_TOEFL" class="chart chart-line" chart-data="line.averageTOEFL.data" height="160px"
                                    chart-labels="line.averageTOEFL.labels" chart-legend="true" chart-series="line.averageTOEFL.series"
                                    chart-click="onClick" >
                            </canvas>
                        </pane>
                    </tabs>

                    <h4>重要申请信息</h4>
                    <div>
                        <a href="http://finance.tulane.edu/description.php">点击查看英文主页</a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="https://orgsync.com/85880/chapter">CSSA论坛链接</a>
                    </div>
                    <div>
                        截止时间: 秋季申请(12月31日)&nbsp;&nbsp;
                    </div>
                    <div>
                        Checklist: 英文主题写作&nbsp;&nbsp;
                    </div>
                    <div>
                        送分代码: 7308&nbsp;&nbsp;
                    </div>
                    <div>
                        特殊要求: 背景过好的申请者有一定几率overqualify被拒绝
                    </div>
                    <br/>
                    <br/>

                </div>
                <div class="col-sm-4 col-xs-12">
                    <h4>根据申请者的情况:</h4>
                    <div>申请成功率: {{school.percentage}}%</div>

                    <br/>
                    <h4>简单的硬件提升后:</h4>
                    <div>
                        提高5分托福成绩: {{school.toeflPercentage}}%
                        <br />
                        提高5分GRE/10分GMAT: {{school.grePercentage}}%
                        <br/>
                        提高0.1分GPA: {{school.gpaPercentage}}%
                    </div>

                    <button class="btn btn-primary" ng-click="openModal('', 'lg')">查看详细分析</button>

                    <br/>
                    <br />
                    <div>
                        平台已经匹配出与申请者背景类似的导师，获得个性提升方案不妨跟他们联系！
                    </div>
                    <button class="btn btn-danger" ng-click="openModal('tutorList', '')">获得导师列表</button>
                    <br />
                    <br />

                    <div>
                        学校/项目详细情况
                    </div>
                    <button class="btn btn-info" ng-click="openModal('majorInfo', 'lg')">查看项目信息</button>

                    <br />
                    <br />
                    <button class="btn btn-success" ng-click="openModal('reviews', 'lg')">
                        显示学生评价
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
